.event-meta__title {
	font-size: $font-size-small;
}

.event__venue {
	margin-top: $spacer;
}

.venue__name {
	font-size: $font-size-small;
	margin-bottom: 0;
}

#tribe-events-pg-template, 
.tribe-events-pg-template {
    margin: 0 auto;
    max-width: 700px;
}