.filters {
  list-style: none;
  margin: 0 0 $spacer-sm 10px;

  @include media($tablet) {
    margin-left: 0;
    margin-bottom: $spacer-lg;
  }
}

.filter__sublist {
  margin: 8px 0 $spacer-sm 0;
  list-style: none;

  @include media($tablet) {
    margin-bottom: $spacer-lg;
  }
}

.filter__title {
  font-size: 12px;
  color: $navy;
  text-transform: uppercase;
}

.filter__item {
  margin: 0 0 10px;
}

.filter__link {
  display: inline-block;
  padding: 0 0 0 5px;
  color: $gray;
  font-size: 14px;
  text-decoration: none;
  transform: translate3d(-5px, 0, 0);
  transition: transform .15s;

  &:hover {
    transform: translate3d(0px, 0, 0);
    border-left: 3px solid $teal;
  }
}

.filter__link--current {
  color: $navy;

  &:hover {
    transform: none;
    border: none;
  }
}

.filter__link--parent {
  color: $gray-darker;
}

.filter__link--current-parent {
  font-weight: bold;
}

.filter__item--current-parent {
  padding-left: 10px;
  margin-left: -10px;
  border-left: 3px solid $teal;

  .filter__link {
    &:hover {
      transform: none;
      border: none;
    }
  }
}

// TODO: It's better to fix the menu output than globally hide all subsequent menus
// We hide our parent category on the team page
// .filters--team-menu .filter__item--top-item > a {
//   display: none;
// }
//
// .filter__item--announcement .filter__sublist {
//   display: none;
// }

// // For now, we don't want to display our team members anywhere except on the staff/about us page
// .filter__item--team{
//   display: none;
// }
//
// .filters--team-menu .filter__item:nth-child(2) {
//   display: none;
// }
