.footer {
	padding-top: $spacer-lg;
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		background: lighten(#fff0e3, 1%);
		position: absolute;
		bottom: -100px;
		left: 0;
		right: 0;
		height: 380px;
		transform: skewY(-6deg);
		z-index: -1;
	}
	&:before {
		content: "";
		background: $orange-stripe;
		position: absolute;
		bottom: -100px;
		left: 0;
		right: 33%;
		height: 380px;
		transform: skewY(3deg);
		z-index: -1;
	}
}

.footer__footer {
	margin-top: $spacer-xl;
	padding-top: $spacer-xl;
	align-items: center;
	.widget__wrapper {
		grid-column-end: span 12;
		height: auto;

		@include media($tablet) {
			grid-column-end: span 4;
		}
	}
	.widget {
		display: grid;
		text-align: center;
	}
	form {
		input {
			width: auto;
		}
	}
	.menu {
		font-size: 1rem;
		list-style-type: none;
		text-align: center;
		.menu-item {
			margin-left: 0;
		}
	}

	.social {
		justify-content: center;
		margin-top: $spacer-sm;
		margin-bottom: $spacer-sm;
	}
}

.footer__container {
	padding-top: $spacer-lg;
}
