.home-funders {
	padding-top: 0;
	@include media($phablet) {
		width: 83%;
		float: right;
	}
}
.funder {
	align-self: center;
	justify-content: space-between;
	margin-bottom: $spacer;
}
.funder--donate {
	display: flex;
	flex: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dashed $gray-light;
	padding: $spacer;
	text-align: center;
}

.funder__donate__title {
	font-size: $font-size-small;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}
// END base styles

@supports not (display: flex) {
	.funder {
		display: inline-block;
		margin-right: $spacer;
		width: 44%;
		@include media($phablet) {
			width: 28%;
		}
	}
	.funder--donate {
		width: 100%;
	}
} // END not (display: flex)

@supports not (display: grid) {
	.funders {
		justify-content: space-between;
		@include media(700px) {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
		}
	}
} // END not (display: grid)

@supports (display: flex) {
	.home-funders {
		@include media($phablet) {
			order: 3;
		}
	}
	.funders {
		display: flex;
		flex-flow: row wrap;
	}
	.funder {
		@include flex-width(45%);
		@include media($phablet) {
			@include flex-width(25%);
		}
	}
	.funder--donate {
		@include flex-width(100%);
	}
} // END (display: flex)

@supports (display: grid) {
	.funders {
		display: grid;
		grid-gap: 20px;

		@include media($mobile) {
			grid-gap: 30px;
		}

		@include media($tablet) {
			grid-gap: 40px;
		}
	}
	.funder {
		grid-column: span 3;

		@include media($phablet) {
			grid-column: span 3;
		}
		@include media($tablet) {
			grid-column: span 3;
		}
	}
	.home-funders {
		grid-column: 1;
		grid-row: 3;

		@include media($phablet) {
			grid-column: 2;
			grid-row: 5;
		}
	}
	.funder--donate {
		display: grid;
		grid-column: 1 / span 6;
		justify-content: center;
		grid-column: span 12;
	}
} // END (display: grid)
