.funders {
	display: grid;
	grid-gap: 20px;

	@include media($mobile) {
		grid-gap: 30px;
	}

	@include media($tablet) {
		grid-gap: 40px;
	}
}

.funder {
	align-self: center;
	justify-self: center;
	grid-column: span 4;

	@include media($phablet) {
		grid-column: span 3;
	}
	@include media($tablet) {
		grid-column: span 3;
	}
}

.funder--donate {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dashed $gray-light;
	width: 100%;
	height: 100%;
	grid-column: span 12;
	padding: $spacer;
	text-align: center;

	@include media($mobile) {
		grid-column: span 4;
	}
}

.funder__donate__title {
	font-size: $font-size-small;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}
