.header {
	background: $orange-stripe;
	padding-top: $spacer-sm;

	position: relative;
	@include media($desktop) {
		padding-bottom: $spacer-lg;
	}
	.searchform {
		padding-bottom: $spacer-sm;
		@include media($desktop) {
			padding-bottom: 0;
		}
	}

	&:after {
		content: "";
		background: $orange-stripe;
		position: absolute;
		top: 0;
		bottom: -100%;
		left: 0;
		right: 0;
		transform: skewY(-7deg);
		z-index: -1;
	}
	@include media($tablet) {
		@supports (display: flex) {
			.menu__main-menu {
				flex: 1 75%;
				align-self: flex-end;
				.menu__list {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}

.header__container {
	position: relative;
	z-index: 99;
	border-bottom: 1px solid $orange;
	@supports not (display: flex) {
		&::after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
	@supports not (display: grid) {
		&::after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
	@include media($tablet) {
		padding-top: 10px;
		padding-bottom: 15px;
		display: grid;
		grid-template-columns: 320px 1fr;
		grid-template-rows: max-content max-content;
		@supports (display: flex) {
			display: flex;
			flex-flow: row wrap;
		}
	}
}

.header__logo {
	max-width: 200px;
	@include media($mobile) {
		padding-right: 0;
	}
	@include media("max", $tablet) {
		@supports not (display: flex) {
			clear: both;
		}
	}
	@include media($tablet) {
		max-width: 320px;
		position: relative;
		bottom: -15px;
		margin-bottom: 0;
		@supports (display: flex) {
			flex: 1 25%;
		}
		@supports (display: grid) {
			grid-column: 1;
			grid-row: 2;
		}
	}
	@include media($desktop) {
		@supports not (display: flex) {
			clear: both;
				float: left;
		}
	}
}
