.header {
	position: relative;
	background: darken($white, 1%);
	margin-bottom: $spacer-xl;

	&:after {
		content: '';
		background: darken($white, 1%);
		position: absolute;
		top: 0;
		bottom: -50%;
		left: 0;
		right: 0;
		transform: skewY(-5deg);
		z-index: -1;
	}
}

.header {
	padding-top: $spacer-sm;
}

.header__container {
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid $teal;
	
	@include media($phablet + 50px) {
		display: grid;
		grid-template-columns: 240px 1fr;
  		grid-template-rows: max-content max-content;
	}

	@include media($tablet) {
		grid-template-columns: 320px 1fr;
	}

	@include media($laptop) {
		padding-right: $spacer;
  		padding-left: $spacer;
	}
}

.header__logo {
	max-width: 280px;

	@include media($phablet + 50px) {
		max-width: 320px;
		grid-column: 1;
		grid-row: 2;
		position: relative;
		bottom: -15px;
		margin-bottom: 0;
	}
}

.menu {

}

.menu__item {
	display: inline-block;
	margin-left: $spacer-sm;
}

.menu__link {
	color: $navy;
	text-decoration: none;
}

.menu__list {
	margin-bottom: $spacer-sm;

	@include media($phablet + 50px) {
		margin-bottom: 0;
	}
}

.menu__main-menu {

	@include media($phablet + 50px) {
		grid-column: 2;
		grid-row: 2;
		align-self: end;
		justify-self: end;
	}

	.menu__item {
		font-weight: 700;


		@include media($tablet) {
			font-size: 1.15rem;
		}

		@include media($laptop) {
			margin-left: $spacer;
		}
	}
}

.menu__secondary {
	font-size: 0.8rem;

	@include media($phablet + 50px) {
		grid-column: 2;
		grid-row: 1;
		align-self: center;
		justify-self: end;
		display: flex;
	}

	.btn,
	.button {
		@include btn-reset
		margin-left: $spacer-sm;

		a {
			border-radius: 40px;
			margin: 0;
			padding: 6px 12px;
			border: 1px solid $navy;
			font-size: 0.85rem;

			@include media($tablet) {
				padding: 10px 20px;
			}
		}
	}

	.social {
		margin-bottom: 0;
	}
}
