.page-template-page-video-grid {
	// change colors
	.main-body-wrapper {
		background: $blue-dark;
	}
	.header,
	.video-grid-tile,
	.footer {
		background: $gray-lighter;
	}
	.site-logos {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		grid-column-gap: 20px;
		padding-bottom: $spacer-lg;
		@include media($desktop) {
			grid-row-gap: 20px;
		}
		img {
			justify-self: center;
			@include media($desktop) {
				max-height: 65px;
			}
		}
	}

	figure {
		margin: 0;
	}
	figure.quote {
		border-left: 2px solid $warning;
		&::before {
			color: $white;
		}
		blockquote {
			color: $white;
			border-top: none;
			border-bottom: none;
		}
		cite,
		figcaption {
			color: $white;
		}
	}

	// adjust spacing
	.article__header {
		@include media($desktop) {
			overflow: hidden;
			height: calc(100vh - 234px);
		}
	}

	.article__title {
		padding: $spacer-xl 0 $spacer-lg 0;
		color: $white;
	}

	.article__intro,
	.article__quotes {
		p,
		a {
			color: $white;
		}
	}

	// video element
	.wp-block-video {
		@include media($desktop) {
			position: relative;
			height: 100%;
		}
		video {
			@include media($desktop) {
				position: absolute;
				bottom: 0;
				z-index: 0;
				width: 100%;
			}
		}
	}

	// custom footer
	.footer__footer {
		margin-top: 0;
		padding-top: 0;
	}
}
.pdf {
	img {
		@include tile-style;
	}
	&:hover {
		img {
			@include tile-style-hover;
		}
	}
}

// THE video grid
.video-grid {
	.tile {
		@supports not (display: grid) {
			flex: 1 1 25%;
			margin: 1em;
		}
		.tile__img-wrap-tall,
		.tile__title {
			flex: 0 0 50%;
			height: auto;
		}
		.tile__title {
			padding: 1em;
		}
	}
	.tile {
		grid-template-rows: 1fr 0fr;
		padding-bottom: 0;
	}
	.tile__title {
		grid-column: 5 / span 10;
		align-self: center;
	}
}
