.press-title {
    margin-bottom: 20px;
}

.press-table-top {
    border-bottom: solid .5px #000; 
    color: #000;
}

.press-table-row {
    border-bottom: solid .5px #000;
    color: #555;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
}

.press-table-side-col {
    width: 20%;
}

.press-table-mid-col {
    width: 60%;
}
