.article .researchers {
	@include media(700px) {
		grid-column: 2;
		grid-row: 5;
	}
}

.research-meta__btn {
	font-size: 14px;
	max-width: 160px;
	padding: .6rem 1.2rem;

	@include media($tablet) {
		position: relative;
		left: -1.2rem;
	}
}

.btn--research-report {
	margin-bottom: $spacer-sm;
	border: 2px solid transparent;

	@include media($tablet) {
		margin-top: $spacer-xl;
	}
}

.researchers-tease {
	margin-bottom: $spacer-sm;
	margin-top: $spacer;

	@include media($tablet) {
		margin-top: $spacer-xl;
	}
}

.researchers-tease__title {
	font-size: 0.85rem;
}

.researchers-tease {

	.mate {
		@include media($tablet) {
			position: relative;
			left: -1.5rem;
			width: calc(100% + 1.5rem);
		}
	}

}
