.article .researchers {
	@include media(700px) {
		grid-column: 2;
		grid-row: 5;
	}
}

.research-meta__btn {
	font-size: 14px;
	max-width: 160px;
	padding: .6rem 1.2rem;

	@include media($tablet) {
		position: relative;
		left: -1.2rem;
	}
}

.aspect-ratio-box {
	height: 0;
	padding-top: 650px / 1127.34px * 100%;
	position: relative;
}

.aspect-ratio-box-inside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article__video {
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mce_start {
	font-size: 5vw;
}

.btn--research-report {
	margin-bottom: $spacer-sm;
	border: 2px solid transparent;

	@include media($tablet) {
		margin-top: $spacer-xl;
	}
}

.researchers-tease {
	margin-bottom: $spacer-sm;
	margin-top: $spacer;

	@include media($tablet) {
		margin-top: $spacer-xl;
	}
}

.researchers-tease__title {
	font-size: 0.85rem;
}

.researchers-tease {

	.mate {
		@include media($tablet) {
			position: relative;
			left: -1.5rem;
			width: calc(100% + 1.5rem);
		}
	}

}
