.sidebar-primary {
	display: flex;
	align-items: center;
	justify-content: center;
}

.archive__sidebar,
aside.widget {
	@include media($phablet) {
		float: left;
		width: 15%;
		padding-right: 1em;
	}
}
.newsletter-post,
.newsletter-about,
.newsletter-landing {
	p {
		margin-bottom: 1.2rem;
	}
	@include media($phablet) {
		text-align: left;
		font-size: 0.75rem;
	}
	.newsletter-input {
		width: 150px;
	}
}
.media-ethics-sidebar {
	.widget__title {
		margin-top: 0;
		font-family: $font-family-sans-serif;
		color: $gray-dark;
		font-size: 0.85rem;
	}
}
// END base styles

@supports not (display: grid) {
	.archive__sidebar,
	aside.widget {
		@include media('max', $mobile) {
			order: 1;
		}
		@include media($phablet) {
			@include flex-width(25%);
		}
	}
	.media-ethics-sidebar {
		width: 10%;
	}
} // END not (display: grid)

@supports (display: flex) {
	.archive__sidebar,
	aside.widget {
		@include media($phablet) {
			@include flex-width(20%);
		}
		@include media($tablet) {
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			@include flex-width(15%);
		}
		@include media($laptop) {
			@include flex-width($min-content-sm);
		}
	}
	.newsletter-post,
	.newsletter-about,
	.newsletter-landing {
		@include media($phablet) {
			@include flex-width(25%);
		}
	}
} // END (display: flex)

@supports (display: grid) {
	.archive__sidebar,
	aside.widget {
		width: 100%;
		grid-column: 1 / -1;
		padding-right: 0;
		@include media($phablet) {
			display: grid;
			grid-column: 1/3;
		}
	}
	.newsletter-post,
	.newsletter-about,
	.newsletter-landing {
		@include media($phablet) {
			grid-column: 1;
			max-width: 180px;
		}
	}
	.media-ethics-sidebar {
		grid-row: 3;

		@include media(700px) {
			grid-row: 2 / span 3;
			grid-column: 3;
			text-align: left;
			font-size: 0.75rem;
			max-width: 180px;
		}
	}
} // END (display: grid)
