.tile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content max-content max-content 1fr;
  background: #fff;
  transition: all 0.1s ease-out;
  box-shadow: 0 -1px 1px $teal-faded, 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  grid-column-end: span 12;
  position: relative;
  padding-bottom: 30px;

  @include media($phablet) {
    grid-column-end: span 6;
  }

  @include media($desktop) {
    grid-column-end: span 4;
  }

  &:hover {
    transform: scale(1.015) translate3d(0, -2px, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
}

@for $i from 2 through 8 {
  .tile:nth-child(#{$i}) {
    animation: slideIn #{(0.4 * $i/3)}s ease-out;
  }
}

.tile__title,
.tile__excerpt,
.tile__date,
.tile__label {
  grid-column: 2 / span 10;
}

.tile__excerpt p {
  margin-bottom: 0;
}

.tile__label {
  grid-row: 1;
  padding: 4px 0px 2px 8px;
  margin: 15px 0 9px;
  //  border-left: 2px solid $teal;
  font-size: 12px;
  line-height: 1;
  color: $gray-dark;
}

.tile__date {
  grid-row: 3;
}

.tile__title {
  color: $black-grey;
  margin-bottom: 0;
}

.tile__link {
  text-decoration: none;
  font-size: 0px;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.tile__date {
  color: $gray-dark;
  font-size: 10px;
  margin-bottom: $spacer-xs;
}

.tile__img {
  max-width: 100%;
}

.tile__excerpt {
  font-size: 14px;
  color: $text-color;
}

.tile__img-wrap {
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
  height: 100%;
}

.tile__img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.tile__bar {
  grid-row: 1 / span 1;
  grid-column: 2;
  background: $teal;
  width: 100%;
  margin: 15px 0 9px;
  height: 2px;
}

.ethics-links .tile--has-img, .home-section .tile--has-img {
  grid-template-rows: 1fr max-content max-content max-content max-content;
}

.tile--has-img {
  padding-top: 0;
  grid-row: span 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content max-content max-content max-content max-content 1fr;
  justify-content: stretch;

  .tile__bar {
    grid-row: 1 / span 2;
    margin: 5px;
    height: 2px;
    width: calc(100% + 20px);
  }

  .tile__label {
    grid-row: 3;
  }

  .tile__title {
    grid-row: 4;
  }

  .tile__date {
    grid-row: 5;
  }

  .tile__excerpt {
    grid-row: 6;
  }
}

.tile--label {
  font-size: 10px;
}

.tile--intro {
  padding-top: $spacer;
  border-left: 3px solid $teal;

  @include media($desktop) {
    grid-column-end: span 12;
  }

  &:hover {
    transform: none;
    box-shadow: 0 -1px 1px $teal-faded, 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: default;
  }
}

.tile__title--intro {
  color: $orange;
}

.tile__excerpt--intro {
  font-size: 16px;
}

.tile-stats {
  display: grid;
  text-align: center;

  .tile:nth-of-type(4n + 1) h4 {
    background: $navy-faded;
  }

  .tile:nth-of-type(4n + 2) h4 {
    background: $green-faded;
  }

  .tile:nth-of-type(4n + 3) h4 {
    background: $gray-lighter;
  }

  .tile:nth-of-type(4n + 4) h4 {
    background: $teal-faded;
  }

  @include media($phablet) {
    .tile {
      grid-column-end: auto;
    }
  }

  .tile {
    grid-template-rows: auto;
    grid-template-columns: auto;
    margin: 0 10px;
    padding: 0;
    cursor: auto;

    h4 {
      padding: 15px 0;
      width: 100%;
      border-bottom: 1px solid #eee;
    }

    i {
      color: $black-grey;
      font-size: 50px !important;
      padding: 10px 0;
    }

    p {
      padding: 5px 15px;
      font-size: 0.8em;
    }
  }
}
