.tile {
	@include tile-style;
	cursor: pointer;
	position: relative;
	// padding-bottom: 30px;

	&:hover {
		@include tile-style-hover;
	}

	@supports not (display: grid) {
		display: block;

		@media screen and (max-width: 1200px) {
			flex: 0 1 48%;
			margin: 0 0 20px;
		}

		@media screen and (max-width: 600px) {
			flex: 0 1 100%;
		}
	}

	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: max-content max-content max-content 1fr;
		grid-column-end: span 12;

		@include media($phablet) {
			grid-column-end: span 6;
		}

		@include media($desktop) {
			grid-column-end: span 4;
		}

		&-col__whole {
			grid-column-end: span 12;
			padding: 1em;
		}
		&-col__half {
			grid-column-end: span 12;
			padding: 1em;
			@include media($desktop) {
				grid-column-end: span 6;
				flex: 0 1 48%;
			}
		}
		&-col__third {
			@include media($desktop) {
				grid-column-end: span 4;
			}
		}
		&-col__fourth {
			padding-bottom: 15px;
			height: 140px;
			@include media($desktop) {
				grid-column-end: span 3;
			}
		}
	}
}

@for $i from 2 through 8 {
	.tile:nth-child(#{$i}) {
		animation: slideIn #{(0.4 * $i/3)}s ease-out;
	}
}

.tile__title,
.tile__excerpt,
.tile__date,
.tile__label {
	@supports (display: grid) {
		grid-column: 2 / span 10;
	}
}

.tile__excerpt p {
	margin-bottom: 0;
}

.tile__label {
	width: 100%;
	padding: 4px 0px 2px 8px;
	margin: 15px 0 9px;
	font-size: 12px;
	line-height: 1;
	color: $gray-dark;
	@supports (display: grid) {
		grid-row: 1;
	}
}

.tile__date {
	grid-row: 3;
}

.tile__title {
	color: $black-grey;
	margin-bottom: 0;
}

.tile__link {
	text-decoration: none;
	font-size: 0px;
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.tile__date {
	color: $gray-dark;
	font-size: 10px;
	margin-bottom: $spacer-xs;
}

.tile__img {
	max-width: 100%;
}

.tile__excerpt {
	font-size: 14px;
	color: $text-color;
}

.tile__img-wrap {
	// flex: 0 0 45%;
	@supports (display: grid) {
		grid-column: 1 / -1;
		grid-row: 1 / span 2;
		height: 100%;
	}
}
.tile__title-wrap {
	display: flex;
	flex-flow: column;
	padding: $spacer;
	@supports (display: grid) {
		padding: 0 0 $spacer 0;
		display: grid;
		grid-column: 2 / span 10;
	}
}
.tile__img {
	object-fit: cover;
	width: 100%;
	height: 240px;
}

.tile__bar {
	grid-row: 1 / span 1;
	grid-column: 2;
	background: $teal;
	width: 100%;
	margin: 15px 0 9px;
	height: 2px;
}

.ethics-links .tile--has-img,
.home-section .tile--has-img {
	grid-template-rows: 1fr max-content max-content max-content max-content;
}

.tile--has-img {
	padding-top: 0;
	position: relative;
	justify-content: flex-start;
	margin-bottom: $spacer;

	@include media("max", $mobile) {
		display: block;
	}
	@supports not ((display: grid) or (display: flex)) {
		@include media($laptop) {
			float: left;
			width: 33.333%;
			padding-right: 1em;
			clear: right;
		}
	}
	// @supports (display: flex) {
	@include media($phablet) {
		display: flex;
		flex: 0 0 48%;
		flex-direction: column;
	}
	@include media($tablet) {
		flex: 0 0 50%;
	}
	@include media($laptop) {
		flex: 0 0 32%;
	}
	// }
	@supports (display: grid) {
		grid-row: span 2;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: max-content max-content max-content max-content max-content 1fr;
	}

	.tile__bar {
		@supports (display: grid) {
			grid-row: 1 / span 2;
			margin: 5px;
			height: 2px;
			width: calc(100% + 20px);
		}
	}

	.tile__label {
		grid-row: 3;
	}

	.tile__title {
		grid-row: 4;
	}

	.tile__date {
		grid-row: 5;
	}

	.tile__excerpt {
		grid-row: 6;
	}
}

.tile--label {
	font-size: 10px;
}

.tile--intro {
	padding: $spacer 0 $spacer $spacer-lg;
	border-left: 3px solid $teal;
	margin-bottom: $spacer;
	@supports (display: flex) {
		display: flex;
		@include flex-width(100%);
	}
	@supports (display: grid) {
		@include media($desktop) {
			grid-column-end: span 12;
		}
	}

	&:hover {
		transform: none;
		box-shadow: 0 -1px 1px $teal-faded, 0 1px 1px rgba(0, 0, 0, 0.1);
		cursor: default;
	}
}

.tile__title--intro {
	color: $teal-light;
}

.tile__excerpt--intro {
	font-size: 16px;
}

.tile-stats {
	display: grid;
	text-align: center;

	.tile h4 {
		background: $navy;
		color: $white;
	}
	@include media($phablet) {
		.tile {
			grid-column-end: auto;
		}
	}

	.tile {
		grid-template-rows: auto;
		grid-template-columns: auto;
		margin: 0 10px;
		padding: 0;
		cursor: auto;

		h4 {
			padding: 15px 0;
			width: 100%;
			border-bottom: 1px solid #eee;
		}

		i {
			color: $black-grey;
			font-size: 50px !important;
			padding: 10px 0;
		}

		p {
			padding: 5px 15px;
			font-size: 0.8em;
		}
	}
}

// publications
.publications {
	.tile {
		height: auto;
		padding: 1rem 1rem 0 1rem;
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		justify-content: space-between;
		@include media($tablet) {
			flex: 0 0 49%;
		}
		@supports (display: grid) {
			grid-template-columns: 1fr 1.5fr;
			grid-template-rows: 1fr;
			grid-column-end: span 6;
			gap: 0 20px;
			grid-template-areas: "tile__img-wrap tile__container";
			@include media($tablet) {
				gap: 0 40px;
			}
		}
		.tile__img-wrap {
			position: relative;
			height: auto;
			flex: 0 0 40%;
			@supports (display: grid) {
				grid-area: tile__img-wrap;
			}
		}
	}
	.tile__container {
		display: flex;
		flex: 0 0 55%;
		flex-direction: column;
		@supports (display: grid) {
			display: grid;
			grid-area: tile__container;
			grid-template-rows: repeat(4, min-content);
		}
		.tile__label,
		.tile__date {
			padding: 0;
		}
		.tile__label {
			line-height: 1.5;
			&.subtitle {
				font-style: italic;
			}
		}
	}
	.tile__title,
	.tile__label {
		grid-row: auto;
	}
	.tile__link {
		text-decoration: none;
		font-size: 0px;
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}
