.tools-section {
	margin-top: 15px;

	@include media($phablet) {
		margin-top: 60px;
	}

	&:first-child {
		margin-top: 0px;
	}
}

.section__slanty::before{
	content: '';
	background: $navy-faded;
	position: absolute;
	left: 0;
	right: 0;
	transform: skewY(-8deg);
	z-index: -1;
	width: 100%;
	height: 75%;
}

#copy-embed-code{
	position: relative;
}

#copy-embed-code::after{
	content: 'Copied!';
	position: absolute;
	top: calc(50% - 6.5px);
	right: 0;
	opacity: 0;
	transition: 0.3s opacity, 0s right;
	transition-delay: 0s, 0.3s;
}

#copy-embed-code.active::after{
	opacity: 1;
	right: -60px;
	transition-delay: 0.1s, 0s;
}

#embed-code {
	width: 100%;
	min-height: 110px;
	margin-bottom: 1.6rem;
	font-size: 14px;
}

.tools-section {
	overflow: hidden;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 0px;
	padding: 10px;

	@include media($phablet) {
		grid-template-columns: calc(50% - 25px) calc(50% - 25px);
		grid-column-gap: 50px;
	}
}