.emoji img{
	width: 36px;
}

/* We can get rid of the below styles if bootstrap is added later */
.row{
	display: flex;
	flex-wrap: wrap;
}

.col-sm-3{
	text-align: center;
	flex: 1;
	padding: 0px 5px;
	min-width: 190px;
}

.col-sm-4{
	text-align: center;
	flex: 1;
	padding: 0px 5px;
	min-width: 255px;
}

.col-sm-6{
	min-width: 50%;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-sm-12 {
	width: 100%;
	position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* We can get rid of the above styles if bootstrap is added later */

.quiz-creator-research{
	border: 1px solid #ffd600;
	position: relative;
	margin: 40px 0 80px 0;
	padding: 40px;
	padding-bottom: 10px;
}

.quiz-creator-steps{
	text-align: center;
}

.quiz-creator-research.tree::after{
	content: '';
	background-color: #f8f8f8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: skewY(-8deg);
}

.text-left{
	text-align: left;
}

#embed-code{
	min-height: 80px;
	margin-bottom: 20px;
}

.subhead, .step-header{
	color: #005f86;
}

.tree-link{
	color: #bf5700;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
		color: #bf5700;
	}
}
.col-sm-6 > h3{
	color: #5e6873
}
