// generates color classes for all verticals
@each $name, $value in $verticals {
  	.vertical-color--#{$name} {
	    color: map-get($verticalColors, $name);
	}

	body.vertical--#{$name} {

		&.single {
			.header {
				background: map-get($verticalColors, "#{$name}-faded");

				&:after {
					background: map-get($verticalColors, "#{$name}-faded");
				}
			}
		}


		&.archive {
			background: map-get($verticalColors, "#{$name}-faded");
		}
	}

	.btn--#{$name} {
		background-color: map-get($verticalColors, $name);

		&:hover,
		&:focus {
			background-color: darken(map-get($verticalColors, $name), 10%);
		}

		&:active {
			background-color: lighten(map-get($verticalColors, $name), 5%);
		}

		&.btn--ghost {
			border-color: map-get($verticalColors, $name);
			color: map-get($verticalColors, $name);
			fill:  map-get($verticalColors, $name);

			&:hover,
			&:focus {
				border-color: darken(map-get($verticalColors, $name), 10%);
			}

			&:active {
				border-color: lighten(map-get($verticalColors, $name), 5%);
			}
		}
	}

	.btn--#{$name} {
		background: map-get($verticalColors, $name);
	}
}