.widget__title {
	margin-top: 15px;
	font-size: 20px;
}

.newsletter__wrapper {
  overflow: hidden;
  position: relative;
}

.newsletter-page {
	position: relative;
	padding: $spacer-lg;
	padding-bottom: $spacer-xs;
	background: transparent;
	text-align: left;
	font: inherit;

	@include media($phablet) {
		margin: 4rem auto;
		width: 100%;
		max-width: 400px;
		background: #fbfbfb;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
	}

	.wpcf7-form {
		margin: 0;
	}

	.widget__title {
		margin-top: 1rem;
		color: $black-grey;
	}

	.newsletter-prompt {
		margin-bottom: 1.6rem;
		color: $black-grey;
	}

	.newsletter-input {
		font: inherit;
		width: 100%;
		border: 1px solid;

		@include media($phablet) {
			border: none;
		}
	}

	.newsletter-submit {
		display: block;
		padding: .8rem 1.5rem;
		width: auto;
		border-radius: 40px;
		margin-top: 1rem;

		@include media($tablet) {
			margin-top: 2rem;
		}
	}
}

.newsletter-post {
	grid-row: 5;

	.wpcf7-form {
		margin: 0;
	}

	.newsletter-input {
		font: inherit;
		width: 100%;
		border: 1px solid;
	}

	.newsletter-submit {
		width: auto;
		margin-top: .5rem;
		border-radius: 40px;
		padding: .75rem 1.2rem;
	}

	p {
		margin-bottom: 1.2rem;
	}

	@include media(700px) {
		grid-column: 1;
		grid-row: 3;
		text-align: left;
		font-size: .75rem;
		max-width: 180px;

		.widget__title {
			margin-top: 0;
			font-family: $font-family-monospace;
			color: $gray-dark;
			font-size: 0.85rem;
		}

		.newsletter-prompt {
			margin-bottom: 1.2rem;
			color: $black-grey;
		}

		.newsletter-input {
			font: inherit;
			border: none;
			width: 150px;
		}

		.newsletter-submit {
			font: inherit;
			width: auto;
			padding: .45rem .95rem;
			font-size: .85rem;
		}
	}
}

.sidebar-primary {
	grid-row: 6;

	@include media(700px) {
		grid-column: 2;
	}

	li {
		margin-left: 0px;
	}
}
