// GRID
.grid {
	display: grid;
	width: 100%;
}

.grid--flex {
	display: flex;
	flex-direction: column;
	@include media($phablet) {
		&__row {
			flex-direction: row;
		}
	}
}

.grid--auto {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid--col-12 {
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: auto;
	@include media($phablet) {
		grid-template-columns: repeat(12, 1fr);
	}
}

.grid--gap-20 {
	grid-column-gap: 0px;
	grid-row-gap: 20px;
	@include media($phablet) {
		grid-column-gap: 20px;
	}
}

.grid--gap-30 {
	grid-column-gap: 0px;
	grid-row-gap: 30px;
	@include media($phablet) {
		grid-column-gap: 30px;
	}
}

.grid--gap-40 {
	grid-column-gap: 0px;
	grid-row-gap: 40px;
	@include media($phablet) {
		grid-column-gap: 40px;
	}
}

// teammate container
.container_team {
	max-width: 1300px;
	margin: auto;
}