.article .researchers {
  @include media(700px) {
    grid-column: 2;
    grid-row: 5;
  }
}


.research-meta__btn {
  font-size: 15px;
  max-width: 160px;
  padding: 0.6rem 0.8rem;

  @include media($tablet) {
    position: relative;
  }
}

.media-ethics-meta__btn {
  font-size: 15px;
  max-width: 185px;
  padding: 0.6rem 0.8rem;

  @include media($tablet) {
    position: relative;
  } 
}

.btn--research-report {
  margin-bottom: $spacer-sm;
  border: 2px solid transparent;
  margin-top: 0.1rem;
  @include media($tablet) {
    // margin-top: $spacer-xl;
    margin-top: 0.1rem;
  }
}


.researchers-tease, .director-tease {
	margin-bottom: $spacer-sm;
	margin-top: $spacer;
  
  @include media($tablet) {
    margin-top: $spacer-xl;
  }
}

.researchers-tease__title, .director-tease__title, .sidebar-menu__title {
	font-size: $font-size-h5;
}

.researchers-tease, 
.director-tease {
  .additional {
    margin-bottom: .25rem;
  }
}
