# wp-content/db.php = for Query Monitor plugin (https://wordpress.org/plugins/query-monitor/)
php_errorlog
*.DS_Store
wp-config.php
wp-config-local.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/enp-quiz-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-content/backupwordpress-3418c492f7-backups/
wp-content/backupwordpress*
error_log
wp-content/enp-quiz-config.php
enp-quiz-database-config.php
wp-content/xmls-logs/
node_modules
.idea/
.wpe-devkit/
_wpeprivate/
enp_prod
wp_admin/
wp_content/
.babelrc
.htaccess.cache.1481773947
.htaccess.cache.1485214350
.jshintrc
.nvmrc
.swn
.swo
.wpengine-conf/
README.mdown
apple-touch-icon-precomposed.png
apple-touch-icon.png
composer.phar
enp-quiz-database-config.php
favicon.ico
gulpfile.js
phpunit.xml
readme-interaction-notes.md
wp_cmengage-2019-09-04-35d6b3a.sql
.vscode/settings.json
*.code-workspace
.htaccess
.htaccess-OG
wp-content/db.php

# Plugins
wp-content/mu-plugins/deps.php
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php
wp-content/plugins/php-compatibility-checker/
wp-content/plugins/hummingbird-performance/
wp-content/plugins/enp-quiz/

# Engage theme
wp-content/themes/engage/*.code-workspace
# wp-content/themes/engage/vendor/

# Ignore all files, see below to include only on the /engage directory
# **/package.json
# **/composer.json
**/composer.lock

# Exclude the config files from the /themes/engage directory
!wp-content/themes/engage/package.json
!wp-content/themes/engage/composer.json
local-phpinfo.php
php.ini
wp-content/themes/engage/package-lock.json
