# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/upgrade-temp-backup/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql
wp-content/mu-plugins/wpengine-security-auditor.php
wp-content/mu-plugins/wpe-wp-sign-on-plugin*
.wpe-devkit/
.wpengine-conf/

# Plugins
wp-content/mu-plugins/deps.php
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php
wp-content/plugins/php-compatibility-checker/
wp-content/plugins/hummingbird-performance/
wp-content/plugins/enp-quiz/
wp-content/plugins/query-monitor/*
wp-content/plugins/query-monitor-twig-profile/
wp-content/plugins/admin-bar-disabler/
wp-content/plugins/seo-by-rank-math/
wp-content/plugins/seo-by-rank-math-pro/
wp-content/plugins/download-monitor/
wp-content/plugins/codepress-admin-columns/
wp-content/plugins/wp-optimize/
wp-content/plugins/wp-defender/
wp-content/plugins/wpmudev-updates/

# ENP quiz
enp-quiz-database-config.php
**/enp-quiz-config.php

# Decision Tree
readme-interaction-notes.md
gulpfile.js
README.mdown
.babelrc
.jshintrc
.nvmrc

# Local App
local-phpinfo.php
php.ini
local-xdebuginfo.php
LocalValetDriver.php
wp-content/themes/engage-2-x/config.json

# Editor
**/.php-cs-fixer.php
**/settings.json

# Sitemaps
sitemap.xml
sitemap.xml.gz

# Node
node_modules

# Logs
**/xmls-logs/*

# Plugin - Query Monitor
wp-content/db.php

# Composer
**/composer.lock

# Others
favicon.ico
phpunit.xml
.htaccess

# large/disallowed file types
# a CDN should be used for these
*.DS_Store
*.log
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Ignore local DB dumps
/ssh/*.sql
