<div class="funder funder--{{ funder.slug }} {{ funder.featured ? 'funder--featured' }}">
	{% if funder.thumbnail %}
	<img class="funder__img" src="{{ funder.thumbnail.src('medium') }}" alt="{{ funder.thumbnail.alt }}"/>
	{% endif %}
</div>
