<form {{ id ? "id='#{id}'" }} role="search" method="get" class="searchform menu__{{ menu.slug }}" action="{{site.link}}">
	<label class="screen-reader-text" for="s">Search for:</label>
	<input class="searchform__input" type="search" placeholder="Search" value="{{ function('get_search_query') }}" aria-label="Search" name="s" id="s"/>
	<button class="btn--ghost btn--sm" type="submit" id="searchsubmit">Search</button>
</form>
