<ul class="social">
	<li class="social__item social__item--facebook">
		<a class="social__link" href="https://www.facebook.com/MediaEngagement/">
			<span class="sr-text">Facebook - Center for Media Engagement Page</span>
			<svg style="width: 25px; height: 25px;" role="presentation" class="social__icon social__icon--facebook"><use xlink:href="#facebook"></use></svg>
		</a>
	</li>
	<li class="social__item social__item--bluesky">
		<a class="social__link" href="https://bsky.app/profile/engagingnews.bsky.social">
			<span class="sr-text">Bluesky - Center for Media Engagement Page</span>
			<svg style="width: 25px; height: 25px;" role="presentation" class="social__icon social__icon--bluesky"><use xlink:href="#bluesky"></use></svg>
		</a>
	</li>
	<li class="social__item social__item--instagram">
		<a class="social__link" href="https://www.instagram.com/engagingnews">
			<span class="sr-text">Instagram - Center for Media Engagement Page</span>
			<svg style="width: 25px; height: 25px;" role="presentation" class="social__icon social__icon--instagram"><use xlink:href="#instagram"></use></svg>
		</a>
	</li>
	<li class="social__item social__item--linkedin">
		<a class="social__link" href="https://www.linkedin.com/company/the-university-of-texas-at-austin-center-for-media-engagement/">
			<span class="sr-text">Linkedin - Center for Media Engagement Page</span>
			<svg style="width: 25px; height: 25px;" role="presentation" class="social__icon social__icon--linkedin"><use xlink:href="#linkedin"></use></svg>
		</a>
	</li>
</ul>