{#
	teammates.twig
	
	This template is responsible for rendering the list of team members
	(referred to as "mates") on the teams page. Depending on the current category
	(a taxonomy term representing the context or department), it displays different
	groups of team members such as current members, past interns, or alumni.
#}

<!-- teammates_new.twig -->
<section
	style="margin-bottom: 8rem; grid-column-gap: 40px;"
	class="grid grid--auto grid--gap-40">
	{# Loop through each team member and render their information.
		The first category value is fetched if it's not set, but PIs (Principal Investigators)
		who have 'Center Leadership' as their first category are prevented from appearing first
		to avoid hiding the past Media Ethics Interns section.
	#}
	{% if category == "alumni" %}
		<section class="past-interns-spacing">
			<div class="past-interns-title past-interns-title__2022-2023" data-toggle-arrow="&#9658;" aria-expanded="false">
				Alumni
			</div>
			<section class="mates grid grid--gap-20 past-interns-list past-interns-list__2022-2023" aria-hidden="true">
				{% for mate in mates %}
					{% include "partial/teammate.twig" with { 'mate' : mate, 'category' : category } %}
				{% endfor %}
			</section>
		</section>
	{% else %}
		{% for mate in mates %}
			{% include "partial/teammate.twig" with { 'mate' : mate, 'category' : category } %}
		{% endfor %}
	{% endif %}
		
</section>
