
{% if tile.title != "General" %}
	{# Logic #}
	{# set default title #}
	{% set tileTitle = tile.title %}
	{#  #}
	{% if tile.name == "announcement" %}
		{% set tileClass = tile.name %}
		{% set tileTitle = tile.label %}
	{% elseif tile.slug == 'science-publications' %}
		{% set tileClass = tile.slug %}
	{% else %}
		{% set tileClass = tile.vertical.slug %}
	{% endif %}
	{# END logic #}

	<div class="tile tile--vertical--{{ tileClass }} tile--intro--vertical--{{ tileClass }} tile--intro">
		<h2 class="tile__title tile__title--intro">{{ tileTitle }}</h2>
		<div class="tile__excerpt tile__excerpt--intro">{{ tile.excerpt }}</div>
	</div>
{% endif %}
