// background dots
// variables
$annual-blue: #30383D;
$annual-red: #AE542D;
$annual-orange: #CC6B00;
$annual-black: #1A1919;
$annual-title-size: 3rem;
$annual-subtitle-size: 1.5rem;
// typography
blockquote, .founders {
	font-family: $font-family-founders-grotesk-bold;
	font-style: condensed;
	font-weight: bold;
}
.ann__landing_circle_logo {
	.ann__landing_circle_cme {
		fill: #AE542D;
		font-size: 31px;
		letter-spacing: .548px;
		        text-anchor: start; // This will align the text to the start of the x position

	}
	.ann__landing_circle_2023 {
		fill: #3C4952;
		font-size: 201px;
		letter-spacing: .31px;
		        text-anchor: start; // This will align the text to the start of the x position

	}
	text {
		font-family: $font-family-founders-grotesk-bold;
	}
}
// typography END
h2 {
	@include media($laptop) {
		font-size: 180%;
	}
}
p {
	line-height: 1.5;
}
hr {
	background-color: $annual-red;
	height: 4px;
}

// Widths
.ann__width-page {
	@include media($laptop) {
		max-width: 55rem;
		margin: 0 auto;
	}
}
.ann__width-full > * {
	@include media($laptop) {
		max-width: 80rem;
		margin: 0 auto;
	}
}
// Titles START
// Titles START
// Titles START
// Title
// .ann__landing_circle_cme {
// 	font-size: 2.6em;
// 	letter-spacing: .548;
// }
// .ann__landing_circle_2023 {
// 	font-size: 8em;
// 	letter-spacing: .31;
// }
.ann__title {
	text-transform: uppercase;
	color: $teal-light;
	padding: 1rem 0;
	@include media($laptop) {
		font-size: $annual-title-size;
	}
	&_main {
		font-size: $font-size-h2;
		text-transform: uppercase;
		font-weight: bold;
	}
	&_orange {
		color: $orange;
	}
	&_navy {
		color: $blue-dark;
	}
	&_bolded {
		font-size: $font-size-xlarge;
		text-transform: uppercase;
		font-weight: bold;

	}
	&_center {
		align-items: center;
		justify-content: center;
	}
	&_light {
		color: $white;
	}
	&.ann__top_title {
		padding: 1rem 0 4rem 0;
	}
	&.ann__info_title {
		padding: 0;
	}
}
// Subtitle
.ann__subtitle {
	text-transform: uppercase;
	font-size: $annual-subtitle-size;
}

// Title wrapper
.ann__title-container {
	z-index: 4;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	// Title with border
	&.title-border {
		padding: 3rem;
		@include media($laptop) {
			padding: 4rem;
		}
		.ann__title-wrap {
			display: flex;
			flex-direction: column;
			padding: 0 1rem;
		}
		.ann__title,
		.ann__subtitle {
			padding: 0;
			margin: 0;
			line-height: normal;
		}
	}
	// border left
	&.title-border-l {
		.ann__title-wrap {
			align-items: start;
			border-left: 4px solid #000;
			border-color: #d9ad76;
		}
	}
	// border right
	&.title-border-r {
		.ann__title-wrap {
			align-items: end;
			text-align: right;
			border-right: 4px solid #000;
		}
	}
	&.title-deco {
		position: absolute;
		top: -3px;
		right: 0;
		background-color: $annual-red;
		width: 30vw;
		height: 45vh;
		clip-path: ellipse(100% 100% at 100% -33%);
		-webkit-clip-path: ellipse(100% 100% at 100% -33%);
		z-index: 4;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: white; /* Change this to create a shadow or overlay */
			clip-path: ellipse(100% 100% at 112% -25%);
			-webkit-clip-path: ellipse(100% 100% at 112% -25%);
			z-index: -1; /* Position it behind the content of ann__title-wrap */
		}
	}
}

// Titles END
.ann__header {
	background-color: $teal-light;
	z-index: 1;
	overflow: hidden;
	position: relative;
	height: 100vh;
	display: grid;
	align-content: center;
	justify-content: center;
	@include media($laptop) {
		align-content: stretch;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100%;
		z-index: 2;
		@include media($laptop) {
			background-size: 55%;
		}
	}
	&::before {
		background-image: url("/wp-content/themes/engage-2-x/assets/img/header-top-right-graphic.svg");
		background-position: 100% 0;
	}
	// // header bottom left svg
	&::after {
		background-image: url("/wp-content/themes/engage-2-x/assets/img/dots-cut-header.svg");
		background-position: 0 100%;
	}
}
.ann__header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media($laptop) {
		justify-content: center;
	}
}
.ann__header-img {
	animation: slideIn 0.6666666667s ease-out;
	z-index: 999;
	position: relative;
	@include media($laptop) {
		max-height: 80vh;
	}
}
// download report button
.btn--annual-report {
	animation: slideIn 0.6666666667s ease-out;
	z-index: 1000;
	align-self: center;
	@include media($phablet) {
		align-self: center;
		margin-right: 0;
	}
	.btn__icon {
		height: auto;
	}
}
.btn--annual-report {
	background-color: #2e4249;
	margin-top: 2em;
	&:hover {
		background-color: darken(#2e4249, 10%);
	}
}

// https://css-tricks.com/bem-101/#sass-and-bem
.ann {
	@at-root #{&}__sct {
		margin-top: unset;
		display: grid;
		&_split {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-row-gap: 40px;
			background-color: $white;
			padding-top: 3rem;

			@include media($laptop) {
				grid-template-columns: 40% auto;
				grid-template-rows: 1fr;
				grid-column-gap: 40px;
			}
			.flex_row {
				@include media($laptop) {
					align-items: flex-start;
				}
			}
		}
		&_grid {
			row-gap: 4em;
			&_pt {
				padding-top: $spacer;
				@include media($tablet) {
					padding-top: $spacer-xl;
				}
			}
		}
		&_whole {
			align-items: flex-start;
			// TODO: change for 2023 version
			grid-template-rows: auto 1fr;
			grid-row-gap: 20px;
			
		}
		&_parallax {
      perspective: 1px;
      height: 100vh;
      overflow: hidden;

      .ann__sct_parallax__group {
        position: relative;
        transform-style: preserve-3d;
        height: 100vh;
        z-index: 5;
        display: flex;
				flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .ann__sct_parallax__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translateZ(0);
        z-index: 4;
        width: 50%;

        animation: slideInFadeIn 1.5s forwards;
				transform: translate3d(0, 40px, 0);
      }

      .ann__sct_parallax__container > div {
        margin: 2.5rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      
      .ann__sct_parallax__container > h1 > p {
        margin-bottom: 0;
      }

      .ann__sct_parallax-bar {
        width: 50%;
        height: 6px;
        border: none;
        margin: 0;

				transform: scale3d(0, 0, 0);
        animation: parallaxBarScale 1.5s 0.85s forwards;
      }

      .ann__sct_parallax__layer--back {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateZ(-1px) scale(2);
        z-index: 1;
      }
			.parallax-overlay {
				z-index: 2;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
    }
		&_quote {
			@include media($desktop) {
				min-height: 100vh;
			}
			.ann__sect_quote__container {
				display: flex;
				align-items: center;
				text-align: center;
				color: $white;
				justify-content: center;
				height: 60vh;
				background-size: 180vh;
				@include media($phablet) {
					background-size: 95vh;
				}
				@include media($laptop) {
					background-size: 80vh;
				}
				@include media($desktop) {
					background-size: 130vh;
					min-height: 100vh;
				}
			}
			.ann__sect_quote-img {
				font-size: $font-size-large;
				padding: 1em 1em 0 1em;
				@include media($phablet) {
					font-size: 25px;
					padding: 4em;
				}
				@include media($tablet) {
					padding: 3em;
					font-size: 26px;
					max-width: 64vw;
				}
				@include media($laptop) {
					font-size: 30px;
					max-width: 50vw;
				}
			}
		}
		&_tiles {
			min-height: unset;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, auto);
			column-gap: 20px;
			row-gap: 40px;
			overflow: hidden;
			@include media($tablet) {
				min-height: unset;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto auto;
				column-gap: 40px;
				row-gap: 0;
				margin-top: 6rem;
			}
		}
		&_full {
			&.zoom-two {
				padding-top: 6rem;
				z-index: 9;
				background: #fff;
				position: relative;
			}
			img {
				z-index: 9;
				width: 100%;
				background-color: $white;
			}
		}
		&_pad_img_title {
			grid-template-rows: 10vh 1fr 10vh;
			grid-template-columns: 1fr;
			row-gap: 20px;
		}
		&_full_content_slim,
		&_faculty {
			&::before {
				content: "";
				position: absolute;
				background-image: url("/wp-content/themes/engage-2-x/assets/img/grey-dots-1.svg");
				background-position: right bottom;
				background-repeat: no-repeat;
				background-size: 80%;
				width: 100%;
				height: auto;
				z-index: -1;
				@include media($laptop) {
					background-size: 50%;
					background-position: 100% 100%;
				}
			}
		}
		&_faculty {
			&::before {
				height: 100%;
			}
		}
		&_full_content_slim {
			&:before {
				right: 0;
				height: 100%;
				background-size: 80%;
				@include media($tablet) {
					background-size: 50%;
					height: 65%;
					width: 70%;
				}
			}
		}
		&.wrapper--pad-xlg,
		&.wrapper--pad-huge {
			padding-top: 6em;
			padding-bottom: 6em;
		}
		&.vert-pad-sm {
			padding-top: 4em;
			padding-bottom: 4em;
		}
		.tile {
			cursor: default;
		}
		&.container--xl {
			@include media($laptop) {
				margin: 0 auto;
			}
		}
	}
}

.ann__sct_quote {
	background-image: url("/wp-content/themes/engage-2-x/assets/img/grey-dots-2.svg");
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: right top;
	@include media($tablet) {
			background-size: 50%;
	}
}

.ann__sct_faculty {
	position: relative;
}

// blocks
.ann__block {
	@include media($laptop) {
		padding-right: 40px;
		border-right: 1px solid $orange;
	}
	.ann__card {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.ann__title h2 {
			color: #ff9900;
		}
	}
	.ann__img-wrap {
		@include media($laptop) {
			max-width: 80%;
		}
	}
	.ann__img-director {
		object-fit: cover;
		border-radius: 50%;
	}
	.ann__img {
		display: grid;
		img {
			width: max-content;
			object-fit: cover;
			height: 50%;
		}
	}
}


// // grid
.ann__grid {
	grid-row-gap: 3em;
	@include media($desktop) {
		padding: 0;
	}
	.ann__grid_item {
		color: $white;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto auto;
		gap: 0;
		align-items: center;
		align-self: flex-start;
		img {
			min-height: 78px;
		}
		.ann__grid_num {
			margin-bottom: 0;
			align-self: center;
			font-family: $font-family-anton;
			font-size: 3rem;
			letter-spacing: 3px;
		}
		.ann__grid_title {
			text-transform: uppercase;
			margin-bottom: 0;
			align-self: baseline;
			&.number-null {
				margin-top: 1em;
			}
			&.bottom-dots::after {
				content: "........................";
				position: absolute;
				bottom: -20px;
				left: 50%;
				letter-spacing: 3px;
				font-weight: 400;
				color: $annual-blue;
				transform: translateX(-50%);
			}
		}
	}
	&.grid_columns_gap-small {
		grid-column-gap: 1em;
	}
	&.grid_columns_gap-medium {
		grid-column-gap: 3em;
	}
	&.grid_columns_gap-large {
		grid-column-gap: 5em;
	}
	&.grid_columns_gap-xlarge {
		grid-column-gap: 7em;
	}
	.ann__grid_item-relative {
		position: relative;
	}
}

// Grid svg decorative border
svg.deco-border-svg {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	zoom: 2;
	transform: scale(1.09);
}

.grid_columns {
	&-5, &-4, &-3 {
		grid: repeat(4, auto) / repeat(2, 1fr);
	}
	&-5 {
		@include media($tablet) {
			grid: repeat(3, auto) / repeat(3, 1fr);
				grid-column-gap: 20px;
			}
			@include media($laptop) {
				grid: repeat(2, auto) / repeat(5, 1fr);
				grid-column-gap: 40px;
		}
	}
	&-4 {
		@include media($tablet) {
			grid: repeat(3, auto) / repeat(3, 1fr);
				grid-column-gap: 20px;
			}
			@include media($laptop) {
				grid: repeat(2, auto) / repeat(4, 1fr);
				grid-column-gap: 40px;
		}
	}
	&-3 {
		@include media($tablet) {
			grid: repeat(3, auto) / repeat(3, 1fr);
				grid-column-gap: 20px;
			}
			@include media($laptop) {
				grid: repeat(2, auto) / repeat(3, 1fr);
				grid-column-gap: 40px;
		}
	}
}

// // list
.ann__list {
	list-style: none;
	margin-bottom: 0;

	&.three-columns {
		grid-template-columns: repeat(3, minmax(250px, 1fr));

	}


	// grid-template-columns: 1fr 1fr 1fr;

	.ann__list_item {
		grid-template-rows: repeat(2, auto);
		grid-column-gap: 20px;
		grid-row-gap: 45px;
		align-items: center;
		padding-left: 0;
		margin-left: 0;
		@include media($tablet) {
			grid-template-columns: 1fr 1fr;
			padding-left: 10rem;
		}
	}
	.ann__list_img {
		img {
			border-radius: $circle-radius;
		}
	}
}

// // tiles
.ann__tile {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	row-gap: 0;
	overflow: hidden;

	@include media($tablet) {
		overflow: scroll;
		&:nth-child(n + 3) {
			z-index: 9;
			background: $white;
			margin-top: 40px;
		}
		&:hover {
			&:nth-child(n + 3) .ann__hover_more {
				height: 100%;
			}
		}
	}
	&:not(:first-of-type) {
		z-index: 9;
	}
	.ann__img-wrap {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: stretch;
	}
	.ann__tile_img {
		object-fit: contain;
		width: 100%;
		object-position: center;
	}
	.ann__info {
		display: grid;
		padding: 2rem 3rem 0 3rem;
		color: $white;
	}
	h2.ann__title,
	.ann__excerpt {
		color: $white;
	}
	.ann__hover_text {
		padding-top: 2rem;
	}
	.ann__hover_link {
		color: $white;
	}
}
// hover cards
.ann__hover_more {
	top: 100%;
	left: 0;
	z-index: 2;
	opacity: 0;
	height: 100%;
	position: absolute;
	text-decoration: none;
	transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);
	background: #000000b8 repeat left top;
	padding: 1.5em 1em;
	color: $white;
	&::-webkit-scrollbar {
		display: none;
	}
	@include media($tablet) {
		padding: 20px 3em 30px 3em;
	}
	.ann__hover_links {
		display: grid;
		grid-template-rows: repeat(1fr);
		row-gap: 10px;
		.ann__hover_link {
			font-weight: 800;
			text-decoration: none;
		}
	}
	.ann__hover_text {
		margin-bottom: 0;
	}
}

.ann__tile {
	&:hover .ann__hover_more,
	&:focus .ann__hover_more {
		top: 0;
		opacity: 1;
		overflow-y: overlay;
	}
}
// // END hover cards
// // outreach
.ann__sct_full_content {
	grid-template-rows: auto auto auto 1fr;
	grid-template-columns: 3em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding-top: 3rem;
	padding-bottom: 3rem;
	column-gap: 1rem;
	row-gap: 0.5rem;
	@include media($tablet) {
		grid-template-columns: repeat(20, 1fr);
		column-gap: 3rem;
	}
	p {
		margin-bottom: 0.5rem;
	}
	.ann__title {
		grid-column: 1 / span 3;
		h2 {
			margin-bottom: 0;
		}
	}
	.ann__subtitle {
		grid-column: 1 / -1;
	}
	.ann__intro {
		grid-column: 1 / -1;
	}
	.ann__col_first {
		padding-bottom: 1rem;
		grid-column: 1 / span 4;
		@include media($tablet) {
			grid-column: 2 / span 9;
		}
	}
	.ann__col_second {
		grid-column: 6 / span 7;
		@include media($tablet) {
			grid-column: 11 / span 9;
		}
	}
}
// // END outreachann__sct_pad_img {

// // social 01
.ann__sct_pad_img_title {
	grid-template-rows: auto 1fr;
	padding: 2rem 2.4rem;
	.ann__title {
		padding: 0;
		font-size: 21px;
		@include media($phablet) {
			padding-top: 3rem;
		}
	}
}
// // END social 01
// // contact info
.ann__sct_footer {
	position: relative;
	overflow: hidden;
	height: 100vh;
	align-content: center;
	justify-items: center;

	.ann__contact_info {
		display: grid;
	}
	.ann__social {
		justify-items: center;
		&.ann__social-list {
			@include media($phablet) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 30px;
			}
		}
		&.ann__social-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 1.6rem;
			.social {
				flex-basis: 20%;
			}
		}
	}
	.social a {
		display: flex;
		align-items: center;
		gap: 5px;
		text-decoration: none;
	}
}
.background_image-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}
.background_image {
	position: relative;
	width: 100%;
	@include media($phablet) {
    width: 86%;
    position: relative;
    left: -22px;
	}
	@include media($laptop) {
    width: 55%;
	}
	@include media($desktop) {
    width: 45%;
	}
}
.bottom_left_deco_graphic {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 25vw;
	height: auto;
}
.ann__gift_btn {
	display: flex;
}
// // END contact info
// END blocks

// research section, 2023
.ann__sct_research {
	&_grid {
		display: grid;
		// TODO: change so that they are in a row
		grid-template-columns: auto 1fr;

	}
	
	&_grid_item {
		text-align: center;
		color: $blue-dark;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		align-items: center;
		align-self: flex-start;
		justify-items: center;
		padding-bottom: 5rem;
	}
	&_title_text {
		color: $orange;
	}



}

.ann__landing {
	display: flex;
	position: relative;
	flex-direction: column-reverse;

	min-height: 100vh;
	padding: 2rem;

	overflow: hidden;
	
	@include media($tablet) {
		padding: 4rem;
	}

	&_logo {
		
		max-width: 25rem;

		@include media($tablet) {
			max-width: 28rem;
		}

		@include media($desktop) {
			margin-top: 1rem;
			max-width: 31.25rem;
		}
	}

	&_background {
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgba(255,255,255,0.75);
		background-blend-mode: lighten;
		background-position: center;
	}

	&_header_container {
		padding-left: 1rem;
		border-left: 3px solid #3c4952;
	}	

	&_header {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;

		text-transform: uppercase;
		line-height: 1;
		font-size: clamp(2.75rem, 10vw, 4.5rem);

		@media(min-width: 900px) {
			font-size: 5rem;
		}

		@include media($laptop) {
			font-size: 5.5rem;
		}

		@include media($desktop) {
			font-size: 6rem;
		}

		&_top {
			grid-row: 1;
			font-weight: 400;
			color: #3c4952;
		}

		&_bottom {
			grid-row: 2;
			font-weight: 800;
			color: $primary;
		}
	}

	&_circle_container {
		position: absolute;
		width: 100%;
		min-height: 100vh;
		right: 1rem;
		top: 1rem;
		opacity: 0; /* Initially hidden */
		animation: fadeInBackground 2s ease forwards; /* Apply fade-in effect */
		transform-origin: top right;

		@media (min-width: 350px) {
			scale: 1.2;
		}

		@include media($phablet) {
			scale: 1;
		}

		@include media($desktop) {
			scale: 1.3;
		}
	}

	&_circle_container > &_circle_svg {
		position: absolute;
		top: 0;
		right: 0;
		height: auto;
		width: 450px;
		transform: translate(140px, -140px);
		animation: clipPathAnimation 3s forwards;

		// clip-path: polygon(25% 28%, 22% 32%, 72% 50%, 73% 100%, 0 100%, 0 0);
    // -webkit-clip-path: polygon(25% 28%, 22% 32%, 72% 50%, 73% 100%, 0 100%, 0 0); /* Safari prefix */

		@media (min-width: 600px) {
			width: 710px;
			max-width: unset;
			transform: translate(228px, -238px);
		}

		@media (min-width: 800px) {
			width: 740px;
			height: auto;
			max-width: unset;
			transform: translate(225px, -225px);
		}
	}


	/* circle animations */
	&_circle_container > &_circle_logo {
		position: absolute;
		top: 43px;
		right: 11px;
		max-width: 172px;
		width: 100%;
		height: auto;

		@media (min-width: 600px) {
			top: 75px;
			right: 20px;
			max-width: 260px;
		}

		@media (min-width: 800px) {
			top: 85px;
			right: 25px;
			max-width: 290px;
		}
	}

	&_circle {
		fill: none;
		transform-origin: center;
	}

	@mixin half-circle-stroke($color, $width, $transform: none) {
		stroke: $color;
		stroke-width: $width;
		@if $transform != none {
			transform: $transform;
		}
	}
	
	&_half_circle {
		&_blue {
			@include half-circle-stroke(#3c4952, 10);
		}
	
		&_orange {
			@include half-circle-stroke(#be5701, 7, rotate(50deg));
		}
	
		&_yellow {
			@include half-circle-stroke(#d9ad76, 5, rotate(40deg));
		}
	
		&_dashed {
			fill: none;
			@include half-circle-stroke(#3c4952, 0.5);
			stroke-dasharray: 2, 2; /* 10 units dash, 10 units gap */
			transform: rotate(35deg);
		}
	}

	@mixin rotate-animation($name, $delay) {
		transform-origin: center;
		animation: #{$name} 1s forwards ease #{$delay};
	}
	
	&_rotate_counter_90 {
		@include rotate-animation(rotateCounter90, 0s);
	}
	
	&_rotate_counter_95 {
		@include rotate-animation(rotateCounter95, 0.25s);
	}
	
	&_rotate_85 {
		@include rotate-animation(rotate85, 0.5s);
	}
	
	&_rotate_81 {
		@include rotate-animation(rotate81, 0.75s);
	}

	&_fade_in {
		animation: fadeIn 1s ease forwards;
	
		&_delay_1 {
			animation-delay: 1s;
		}
	
		&_delay_2 {
			animation-delay: 1.25s; 
		}
	}

	&_circle_cme,
	&_circle_2023 {
		opacity: 0;
	}

	&_fade_in_and_up {
		&_delay_1 {
			opacity: 0;
			animation: fadeIn 1s ease forwards, slideIn 1s ease forwards;
			animation-delay: 0.5s; 
		}

		&_delay_2 {
			opacity: 0;
			animation: fadeIn 1s ease forwards, slideIn 1s ease forwards;
			animation-delay: 0.7s; 
		}

		&_delay_3 {
			opacity: 0;
			animation: fadeIn 1s ease forwards, slideIn 1s ease forwards;
			animation-delay: 0.9s; 
		}
	}

	@keyframes fadeInBackground {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	
	@keyframes rotateCounter90 {
		from {
			transform: rotate(45deg);
		}
	
		to {
			transform: rotate(-90deg);
		}
	}
	
	@keyframes rotateCounter95 {
		from {
			transform: rotate(50deg);
		}
	
		to {
			transform: rotate(-110deg);
		}
	}
	
	@keyframes rotate85 {
		from {
			transform: rotate(40deg);
		}
	
		to {
			transform: rotate(200deg);
		}
	}
	
	@keyframes rotate81 {
		from {
			transform: rotate(35deg);
		}
	
		to {
			transform: rotate(200deg);
		}
	}
	
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
	
		to {
			opacity: 1;
		}
	}

	@keyframes slideIn {
		from {
			transform: translateY(24px);
		}
	
		to {
			transform: translateY(0);
		}
	}
	@keyframes clipPathAnimation {
    0% {
			clip-path: polygon(25% 28%, 22% 32%, 72% 50%, 73% 100%, 0 100%, 0 0);
			-webkit-clip-path: polygon(25% 28%, 22% 32%, 72% 50%, 73% 100%, 0 100%, 0 0);
    }
    100% {
			clip-path: polygon(30% 20%, 45% 35%, 80% 50%, 70% 100%, 0 100%, 0 0);
			-webkit-clip-path: polygon(30% 20%, 45% 35%, 80% 50%, 70% 100%, 0 100%, 0 0);
    }
	}
}

.ann__content-table {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100vh;

	&_container {
		padding: 5rem;
		min-height: 100vh;

		display: flex;
		flex-direction: column;

		&-top {
			display: flex;
			flex-direction: column;
		}

		&-bottom {
			display: flex;
			justify-content: center;
			align-items: end;
			width: 100%;
			height: auto;
			flex: 1;
		}
	}

	&_header {
		padding-left: 1rem;
		
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;

		text-transform: uppercase;
		line-height: 1;


		&-top {
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 5px;
			color: $annual-blue;

		}
	
		&-bottom {
			font-size: 60px;
			color: $annual-blue;
		}
	}

	&_report-pages {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: auto;
		grid-gap: 20px;

		margin: 5rem 0 7rem 0;
	}

	&_report-page{
		width: 150px;
		align-items: center;
		justify-content: center;

		transform: translate3d(0, -30px, 0);
		animation: slideInFadeIn 1.5s ease-out forwards;
	}

	&_page-number {
		display: flex;
		flex-direction: column;
		font-weight: 500;
		font-size: 50px;
		color: $annual-blue;
	}

	&_page-title {
		text-transform: uppercase;
		color: $orange;
		margin: 0;
	}
	
	&_dots {
		margin-top: 5px;
		letter-spacing: 3px;
		color: #000;
	}

	&_img {
		position: relative;
		height: 300px;
		width: auto;
	}
}

.ann__research-initiatives {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100vh;	

	&_container {
		padding: 5rem 0;

		&-top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-left {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 5rem;

				opacity: 0;
				animation: fadeIn 1.75s forwards;

				&_text {
					position: absolute;
					transform: translate(15%, calc(55%));
					width: 500px;
					font-size: 25px;
					font-weight: bold;
					line-height: 1.25;
				}
			}
		}

		&-bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: auto;
			margin-top: 2rem;

			&_text > h3 {
				font-size: calc(100% + 8px);
				color: $orange;
			}
		}
	}
	&_header {
		display: flex;
		flex-direction: column;
		align-items: end;
		width: 100%;
		text-transform: uppercase;
		z-index: 2;
		transform: scale3d(1, 0, 1);
		animation: scaleUp 1.5s forwards;

		overflow: hidden;

		&-top {
			font-size: 48px;
			font-weight: 600;
			margin-left: 10px;
			transform: translateX(120%);
			animation: slideInFadeIn 1s forwards;
			animation-delay: 1.5s;
			z-index: 1;
		}
	
		&-bottom {
			font-size: 80px;

			transform: translateX(120%);
			animation: slideInFadeIn 1s forwards;
			animation-delay: 1.5s;
		}
	}

	&_img {
		position: relative;
		height: 100%;
		width: 300px;
	}
}

.ann__outcomes {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	padding: 5rem 0;

	&_container {
		// padding: 5rem;

		&-top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&-left {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 5rem;

				opacity: 0;
				animation: fadeIn 1.75s forwards;

				&_text {
					position: absolute;
					transform: translate(15%, calc(65% + 10px));
					width: 500px;
					font-size: 25px;
					font-weight: bold;
				}
			}
		}

		&-bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: auto;
			margin-top: 10rem;
			flex: 1;

			transform: translateY(30px);	
			animation: slideInFadeIn 1.5s forwards;

			h3 {
				font-size: calc(100% + 8px);
				color: #3c4952;
			}
		}
	}
	&_header {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-transform: uppercase;
		z-index: 2;
		transform: scale3d(1, 0, 1);
		animation: scaleUp 1.5s forwards;

		overflow: hidden;

		&-top {
			font-size: 48px;
			font-weight: 600;
			margin-left: 10px;
			animation: slideInFadeIn 1s forwards;
			animation-delay: 1.5s;
			z-index: 1;
		}
	
		&-bottom {
			font-size: $annual-title-size;

			transform: translateX(120%);
			animation: slideInFadeIn 1s forwards;
			animation-delay: 1.5s;
		}
	}

	&_item {
		display: flex;
		align-items: center;
		gap: 3rem;
		margin-bottom: 1rem;

		&-left {
			width: 250px;
			height: auto;
		}
		
		&-right {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}
}

// END elements

// modifiers
.ann__list_title {
	h4 {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 1em;
	}
}
// END modifiers
.ann__pg3 {
	padding-top: 5em;
	.columns {
		display: flex;
		gap: 3em;
	}
	.column-2 {
		flex-basis: 50%;
	}
	.column-3 {
		flex-basis: 33.333%;
	}
	figure:has(.cirlce-img-text) {
		position: relative;
		max-width: fit-content;
		figcaption {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 24px;
			line-height: 1.2;
			padding: 3em 2em;
			text-align: center;
			color: #FFFFFE;
			word-break: normal;
			font-weight: bold;
		}
	}
}


blockquote {
	border: none;
	border-left: 4px solid #BF5701;
	margin: 0 0 1.6rem 0;
	padding: 2rem 0 1rem 2rem;
	line-height: 1.5;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid_1col_2row {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	max-width: 50rem;
	margin: 0 auto;
	
	.ann__content {
		column-count: 2; /* Splits the text into two columns */
	}
}

// .ann__pg3_img_div {
//     position: relative;
//     width: 100%;
//     padding-top: 100%; /* Creates a square aspect ratio */
//     overflow: hidden;
// 	padding-bottom: 2rem;
// }

.ann__pg3_circle_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeInBackground 2s ease forwards;
		z-index: 9;
}

.ann__pg3_circle_container > .ann__pg3_circle_svg {
    position: absolute;
    top: 0;
    left: 4.4rem;
    width: 75%;
    height: 100%;
    transform: scale(1.5);
		z-index: 9;
}

// .ann__pg3_img {
//     position: absolute;
//     top: 50%;
//     left: 54%;
//     transform: translate(-50%, -50%);
//     max-width: 76%;
//     max-height: 75%;
//     object-fit: contain;
//     z-index: 1;
// }

.ann__pg3_circle {
    fill: none;
    transform-origin: center;
}

.ann__pg3_half_circle_blue {
    stroke: #3c4952;
    stroke-width: 10;
}

.ann__pg3_half_circle_orange {
	position: absolute;
    stroke: #be5701;
    stroke-width: 7;
    transform: rotate(50deg);
	z-index: 2;
}

.ann__pg3_half_circle_yellow {
	position: absolute;
    stroke: #d9ad76;
    stroke-width: 5;
    transform: rotate(40deg);
	z-index: 2;
}

.ann__pg3_half_circle_dashed {
    fill: none;
    stroke: #3c4952;
    stroke-width: 0.5;
    stroke-dasharray: 2, 2;
    transform: rotate(35deg);
}

.ann__pg3_rotate_counter_90 {
    animation: rotateCounter90 1s forwards ease 0s;
}

.ann__pg3_rotate_counter_95 {
    animation: rotateCounter95 1s forwards ease 0.25s;
}

.ann__pg3_rotate_85 {
    animation: rotate85 1s forwards ease 0.5s;
}

.ann__pg3_rotate_81 {
    animation: rotate81 1s forwards ease 0.75s;
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotateCounter90 {
    from { transform: rotate(45deg); }
    to { transform: rotate(-90deg); }
}

@keyframes rotateCounter95 {
    from { transform: rotate(50deg); }
    to { transform: rotate(-110deg); }
}

@keyframes rotate85 {
    from { transform: rotate(40deg); }
    to { transform: rotate(200deg); }
}

@keyframes rotate81 {
    from { transform: rotate(35deg); }
    to { transform: rotate(200deg); }
}

.img-with-text-overlay {
	position: relative;
}
.img-with-text-overlay + figcaption {
	position: absolute;
	top: 0;
}