.press-article-card {
	border-bottom: 1px solid black;
}
.press-content {
	display: flex;
	gap: 1em;
	margin-top: 1.6rem;
}
.press-publisher,
.press-meta {
	flex: 0 0 20%;
}
.press-title {
			flex: 1 1 80%;
}