
.newsletter-post .newsletter-submit, 
.newsletter-about .newsletter-submit, 
.newsletter-landing .newsletter-submit {
    width: auto;
    margin-top: .5rem;
    border-radius: 40px;
    padding: .75rem 1.2rem;
}
@media (min-width: 700px) {
	.newsletter-post .newsletter-submit, 
	.newsletter-about .newsletter-submit, 
	.newsletter-landing .newsletter-submit {
		font: inherit;
		width: auto;
		padding: .45rem .95rem;
		font-size: .85rem;
	}
}
@media (min-width: 600px) {
	.footer__footer form input {
		width: auto;
	}
}

