.article.template--quiz-landing {
	display: block;
	@include media($tablet) {
		display: grid;
	}
	.article__header {
		@include media($laptop) {
			grid-column: 1 / span 2;
		}
	}
}
.quiz-example {
	margin-top: -20px;
}
.quiz-creator-research {
	border: 1px solid $navy;
	position: relative;
	margin: 40px 0;
	padding: 40px;
	padding-bottom: 10px;
}

.quiz-creator-steps {
	text-align: center;
}

.quiz-creator-benefits {
	margin: $spacer-lg 0;
	@include media($laptop) {
		grid-column: 1 / span 2;
	}
	&.steps {
		padding: $spacer-lg;
		background-color: #f8f8f8;
		.row-spacing-md {
			text-align: center;
		}
	}
	.tile-stats {
		.tile {
			margin: $spacer 0;
			@include media($tablet) {
				@include flex-width(25%);
			}
			@supports (display: grid) {
				grid-template-rows: max-content max-content max-content 1fr;
			}
			.emoji {
				font-size: xx-large;
			}
		}
	}
}
@supports not (display: flex) {
	.quiz-creator-benefits {
		padding: 0;
		.tile-stats {
			clear: right;
			.tile {
				@include media($phablet) {
					width: 23%;
					float: left;
					margin-right: $spacer-sm;
				}
			}
		}
	}
}

@supports (display: flex) {
	.quiz-creator-benefits {
		padding: 0;
		.tile-stats {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			@include media($phablet) {
				flex-flow: row nowrap;
				justify-content: space-between;
			}
			.tile {
				@include media($phablet) {
					@include flex-width(22%);
				}
			}
		}
	}
}

@supports (display: grid) {
	.quiz-creator-benefits {
		.tile-stats {
			grid-template-columns: 25% 25% 25% 25%;
		}
	}
}

// quiz creator page
.quiz-creator-product-page {
	@include media($laptop) {
		grid-column: 1 / span 2;
	}
	.hero {
		@include media($phablet) {
			grid-row: 2;
		}
		.col-md-5,
		.col-md-7 {
			@include flex-width(50%);
		}
	}
}

.inner-wrapper {
	@include media($laptop) {
		grid-column: 1 / span 2;
	}
}