@each $name, $value in $teamCategories {
	.filter__item--team_category--#{$name} {
		&.filter__item--current-parent {
			border-color: map-get($categoryColors, $name);
		}

		.filter__link--current-parent {
			color: map-get($categoryColors, $name);
		}

		.filter__link--current {
			color: map-get($categoryColors, $name);
		}

		.filter__link--parent {
			color: map-get($categoryColors, $name);
		}

		.filter__link {
			&:hover {
				color: map-get($categoryColors, $name);
				border-color: map-get($categoryColors, $name);
			}
		}
	}
}

.mate__header-container {
	display: flex;
	z-index: 4;
	width: 100%;
	// Title with border
	&.header-border,
	&.header-deco {
		@include media($phablet) {
			padding: 0 0 3em 0;
		}
		@include media($laptop) {
			padding: 0 0 3em 0;
		}
		.mate__header,
		.mate__subheader {
			padding: 0;
			margin: 0;
			line-height: normal;
			text-transform: uppercase;
		}
		.mate__header {
			font-size: 1.8rem;

			@include media($phablet) {
				font-size: 2.5rem;
			}

			@include media($laptop) {
				font-size: 3rem;
			}
		}
		.mate__subheader {
			font-size: 1.5rem;
			@include media($phablet) {
				font-size: 2rem;
			}
		}
	}
	&.header-align-left {
		text-align: left;
	}
	&.header-border-left {
		.mate__header-wrap {
			border-left: 7px solid #000;
			padding-left: 1em;
		}
	}
}

.mate__bio {
	font-size: $font-size-medium;
}

.mate__img {
	border-radius: $circle-radius;
}

.mate__name {
	font-family: $font-family-sans-serif;
	margin-bottom: 0;
	color: #005f86;
	text-decoration: none;
}

.mate__orange {
	color: $orange !important;
	transition: color 0.2s ease;

	&:where(a):hover {
		color: darken($orange, 10%) !important;
	}
}

.mate__labels,
.mate__phone,
.mate__designation,
.mate__email {
	font-family: 'Arial', monospace;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	color: #333f48;
}

.mate__linked {
	transform: scale(1);
	transform-origin: center;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.07);
	}
}

.size {
	font-size: $font-size-medium;
}

.meta-size {
	font-size: 0.75rem;
}

.mate-tease {
	position: relative;
	grid-column-gap: 5px;

	.mate__img-wrap {
		max-width: 50px;
		height: auto;

		@include media($mobile) {
			grid-row: 1;
			grid-column: 1/2;
		}

		@include media(700px) {
			grid-column: 1/4;
		}
	}

	&.mate--has-img,
	&.additional {
		.mate__content {
			@include media($mobile) {
				grid-row: 1;
				grid-column: 2/-1;
			}
			@include media(700px) {
				grid-column: 4/-1;
			}
		}
	}

	.mate__name {
		color: $navy;
		font-size: 0.85rem;
	}

	.mate__labels {
		font-size: 0.6rem;
	}

	.mate__img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
	}
}

.mate-tease.mate-tease_link {
	display: block;
}

.mate-link {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	height: 100%;
	text-decoration: none;
	@include media($phablet) {
		grid-template-columns: repeat(12, 1fr);
		column-gap: 5px;
	}
}

.cme-position {
	color: #005f86;
	width: max-content;
}

@supports not (display: grid) {
	.mate {
		flex-flow: column wrap;
		margin-bottom: $spacer;
	}
}

@supports (display: grid) {
	.mate {
		margin: 15px;
		text-align: center;
	}
}

.category_title {
	color: #333f48;
}

.icon-color {
	color: #333f48;
	font-size: 12px;
	top: 0.21rem;
	position: absolute;
}

.icon-box {
	float: left;
	position: relative;
}

.mate__text {
	padding-left: 20px;
}

.break-word {
	overflow-wrap: break-word;
}

.mate__bottom-dots {
	position: relative;
}

.mate__bottom-dots::after {
	bottom: -20px;
	color: #30383d;
	content: '........................';
	font-weight: 400;
	left: 50%;
	letter-spacing: 3px;
	position: absolute;
	transform: translateX(-50%);
}
