body {
  background: none;
}

#wpadminbar {
  display: none;
}

#main_content:before {
  content: initial;
}

#main_content:after {
  content: initial;
}

#footer {
  border-top: none;
  background-color: #fff;
}

#wpstats {
  display:none;
}
/*.clear {
  clear:both;
}*/