
/******
 *
 * Layout
 *
 *******/

.hentrys {
	max-width: 600px;
	margin: 48px auto;
}

.page-content {

	& * {  }
	img { max-width: 100%; height: auto; }
}
//
.index-layout {
	.hentry {
		max-width: 600px;
		margin: 48px auto;
	}
	article.entry-content {
		margin-bottom: 4em;
	}
	margin-bottom: 4em;
}
.entry-content, .entry-header, .entry-link {
	margin: 0 auto;
	max-width: 640px;
}
.home-layout {
	.featured-story {

	}
}
.page-layout {

	padding-top: 2em;

}
.article-layout {

}
.research-layout {
	.entry-content {
		margin-left: 150px;
		max-width: 570px;
	}
}

.section-layout {
	//margin-left: 100px;
	.page-content {
		margin: 0 auto;
		max-width: 600px;
	}
}

.section-header{
	.page-header {
		background-image: $bg-gradient-default;
		color: #FFFFFF;
		text-align: center;
		margin-top: 0;
		padding: 2em 0;
		margin-bottom: 3em;

		.byline {
			color: rgba(255,255,255,0.5);
		}
		a {
			color: rgba(255,255,255,0.65);
		}
	}
	.page-title {
		margin: 0.5em 0;
	}
}

#featured-content, #about {
	padding-top: 4em;
	padding-bottom: 4em;
}

/******
 *
 * Typography
 *
 ******/

body {
	//font-family: 'tablet-gothic', Helvetica, sans-serif;
	//font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	//font-family: 'tablet-gothic', sans-serif;
}
h1 {
	font-weight: 700;
}
h2 {

}
h3 {
	font-weight: 300;
	color: $gray-light;
}
h4 {
	color: green;
}
h5, .widget-title {
	text-transform: uppercase;
	color: $gray-light;
}
.widget-title {
	font-size: 18px;
}

.entry-title {
	font-weight: 600;
}

/* Widgets */


.content .widget {
	margin-bottom: 1.5em;

	& > h3 {
		font-size: 14px;
		text-transform: uppercase;
		color: $gray-light;
		margin-bottom: 1.5em;
		font-weight: 400;
	}
	ul {
		padding-left: 0;
		margin-bottom: 2em;
		li { list-style: none; margin-bottom: 0.5em; }
		a { }
	}
}
.rpwe-block {
	h3 {
		background: none !important;
		clear: none;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
		font-weight: 400;
		font-size: 14px !important;
		line-height: 1.25em;
	}
	.rpwe-thumb {
		height: 45px; width: 45px;
	}
}
.crp_related_widget {
	li a {
		font-size: 1.125em;
		font-weight: 400;
		img {
			border: 1px solid #eee !important;
			box-shadow: none !important;
			margin: 2px 10px 2px 0;
			padding: 3px !important;

		}
	}
	li {
		margin-bottom: 0.5em;
	}
}

#featured-content {
	.widget ul {
		padding: 0;
		border-left: none;
	}
	.recent-posts-extended {
		a { color: $gray-light; }
		a:hover { text-decoration: underline; }
	}
}

/* Body */

.entry-content, .page-content, .entry-summary {
	p, ul, ol {
		font-family: 'abril-text', Georgia, serif;
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 24px;
	}
}

.main a {
	font-weight: 600;
}

#about {
	background-color: $brand-primary;

	color: white;
}

/* Research */

.enp-resources {
	padding: 1em;

	border: 1px solid $gray-lighter;
	border-radius: 6px;

	.btn {
		width: 99%;
	}
	ul.research-links {
		margin-bottom: 0;
	}
}
.research-section {
	margin-bottom: 4em;
	.research-category {
		max-width: 860px;
		margin: 0 auto;
		margin-bottom: 2em;
	}
	.category-icon {
		float: left;
		width: 64px;
		margin-right: 1em;
		img { width: 100%; height: auto; }
	}
	.entry-link, .entry-header, .entry-content {

	}
	& > p {

	}
}
.research-link {
	background-image: url(/wp-content/uploads/2015/12/ico_paper@2x.png);
	background-size: 18px 24px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 36px;
}

/* Images */

.wp-post-image {
	max-width: 100%;
	height: auto;
}

/* Twitter */

.fetched_tweets {
	display: flex;

	//box-align: stretch;
	//align-content: middle;
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 4em;
	li {
		display: inline-block;
		width: 33%;
		list-style: none;
		border: none;
		border-right: 1px solid #CCC;
		padding: 15px;
		vertical-align: top;
		&:last-child {
			border-right: none;

		}
	}
	.tweet_data {
		font-family: 'abril-text', Georgia, serif;
	}
	.times {
		a { color: $gray-light; }
	}
}
footer {
	.widget {

	}
}


/******
 *
 * Misc.
 *
 ******/

 .wf-loading {
	 h1, h2, h3, h4, h5, h6, p, time, figcaption, span {
		 display: none;
	 }
 }

 .visual-form-builder fieldset {
	 clear: none;
 }

 .media {
	 margin: 0;
 }
