.featured-video {
  display: block;
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 360px;
  box-shadow: 0 8px 16px -6px grey;
}

.section-margin {
  margin-top: 100px;
}

.research-link:link {
  text-decoration: none;
}

.research-link:hover {
  text-decoration: underline;
}

.research-link:active {
  text-decoration: underline;
}

.small-video {
  width: 300px;
  height: 169px;
  box-shadow: 0 8px 16px -6px grey;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media($laptop) {
    display: initial;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.small-video-container {
  margin-bottom: 100px;

  @include media($laptop) {
    display: flex;
    justify-content: space-evenly;
  }
}