body.enp-quiz {
	background: $teal-faded;

	&.enp-quiz-results {
		background: $white;

		.header {
			background: $teal-faded;

			&:after {
				background: $teal-faded;
			}
		}
	}

	.header {
		background: darken($white, 1%);

		&:after {
			background: darken($white, 1%);
		}
	}

	#enp-quiz {
		background: transparent;

		.enp-dash-container,
		.enp-quiz-form-container {
			background: transparent;
		}

		.enp-results-title {
			background: transparent;
			border: none;
		}
	}

	.enp-breadcrumb-link__container {
		@extend .container;
	}

	.enp-breadcrumb-link {
		font-weight: normal;
		text-transform: none;
		margin-left: -1rem;
		@media (min-width: 600px) {
			position: absolute;
			z-index: 999999;
		}
	}

	.nav-primary.navbar-default .current_page_parent > a {
		color: $navy;
	}

	.enp-dash-item__nav__item {
		margin-left: 0;
	}
}
/** Quiz landing page section **/
.quiz-example {
	margin-top: -20px;
}
.quiz-creator-research {
	border: 1px solid $navy;
	position: relative;
	margin: 40px 0;
	padding: 40px;
	padding-bottom: 10px;
}

.quiz-creator-steps {
	text-align: center;
}

.quiz-creator-benefits {
	margin: 40px 0;
	padding: 40px;
	background: $gray-lighter;
	.tile-stats {
		display: flex;
		justify-content: center;

		@supports (display: grid) {
			grid-template-columns: 25% 25% 25% 25%;
		}
		.tile {
			@include media($tablet) {
				@include flex-width(25%);
			}
			@supports (display: grid) {
				grid-template-rows: max-content max-content max-content 1fr;
			}
			.emoji {
				font-size: xx-large;
			}
		}
	}
}

// quiz creator page
.quiz-creator-product-page {
	.hero {
		.col-md-5,
		.col-md-7 {
			@include flex-width(50%);
		}
	}
}
