$lightGrey: #fbfbfb;

.home-intro {
	.container {
		margin-top: 200px;
	}
}

.home-section {
	padding-top: $spacer-sm;
	padding-bottom: $spacer-lg;
	position: relative;

	.tile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media($tablet) {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
		@include media($laptop) {
			flex: 0 0 23%;
			margin: 0 0 20px;
		}
		@supports (display: grid) {
			display: grid;
			padding-bottom: 0;
			height: 140px;
			align-items: center;
			@include media($desktop) {
				grid-column-end: span 3;
			}
		}

		&:hover {
			transform: scale(1.015) translate3d(0, -2px, 0);
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
		}

		.tile__bar,
		.tile__excerpt {
			display: none;
		}

		.tile__img-wrap {
			flex: 0 0 35%;
			height: 140px;
			overflow: hidden;
			@supports (display: grid) {
				grid-column: span 10 / 5;
			}
		}
		.tile__title-wrap {
			display: flex;
			flex-flow: column wrap;
			flex: 0 0 60%;
			padding: 0;
			@supports (display: grid) {
				display: grid;
				grid-column: span 6 / 12;
			}
		}
		.tile__img {
			object-fit: cover;
			width: auto;
			// max-width: none;
			height: 100%;
		}

		.tile__label {
			padding-left: 0;
		}

		.tile__title {
			padding-right: 10px;
			font-size: 1em;
			min-height: 60px;
		}
	}

	.tile--has-img {
		.tile__excerpt,
		.tile__label,
		.tile__title {
			@supports (display: grid) {
				grid-column: 6 / span 10;
			}
			@supports not (display: grid) {
			}
		}

		.tile__date {
			@supports (display: grid) {
				grid-column: 6 / span 10;
			}
			@supports not (display: grid) {
				@media screen and (max-width: 1200px) {
					left: 17vw;
				}

				@media screen and (max-width: 600px) {
					left: 34vw;
				}
			}
		}

		.tile__label {
			margin-top: 0;
		}
	}

	
}

.home-section__slanty-bar {
	content: "";
	background: $white;
	position: absolute;
	left: 0;
	right: 0;
	transform: skewY(-3deg);
	z-index: 1;
	top: -50px;
	height: 280px;
	@include media($phablet) {
		top: -80px;
		height: 280px;
	}
}

.home-research {
	background: $orange-stripe;
	overflow: hidden;

	.home-section__slanty-bar {
		height: 150px;
		@include media($phablet) {
			top: -80px;
			height: 150px;
		}
	}
}

.home-case-studies {
	background: $white;
}

.home-announcements {
	background: $orange-faded;

	.home-section__slanty-bar {
		transform: skewY(4deg);
	}
}

.home-events {
	background: $orange-faded;

	.home-section__slanty-bar {
		transform: skewY(-8deg);
	}
}

.home-section__title {
	margin-top: $spacer-lg;
	margin-bottom: $spacer-lg;
	position: relative;
	z-index: 2;
	font-size: $font-size-base;
}

.home-funders {
	.funders {
		position: relative;
		z-index: 2;
	}
}

.see-all-posts {
	position: relative;
	z-index: 9;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 50px;
}

.home-quiz-tool {
	background: transparent;
	overflow: hidden;
	display: block;
	&.grey-bkg {
		background: $lightGrey;
	}
	.tile-stats {
		grid-row-gap: 35px;
	}
	.home-section__slanty-bar {
		-webkit-transform: skewY(4deg);
		transform: skewY(4deg);
		z-index: 0;
	}

	.home-section__title {
		font-size: 28px;
		p {
			color: $black-grey;
		}
	}
}

.home-section__tools--wrapper {
	    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
	overflow: hidden;
	margin-top: 120px;
	@include media($phablet) {
		flex-flow: row wrap;
	}
	@supports (display: grid) {
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 0;
		@include media($phablet) {
			grid-template-columns: calc(50% - 25px) calc(50% - 25px);
			grid-column-gap: 50px;
		}
	}
}

.home-section {
	.title {
		order: 1;
		@include media($tablet) {
			@include flex-width(100%);
		}
		@supports (display: grid) {
			grid-row: 1;
		}
	}

	.description {
		order: 3;
		@include media($tablet) {
			@include flex-width(45%);
			order: 2;
		}
		@supports (display: grid) {
			grid-row: 3;
		}
	}

	.pictures {
		order: 2;
		display: flex;
		align-items: center;
		@include media($tablet) {
			@include flex-width(45%);
		}
		@supports (display: grid) {
			grid-row: 2;
		}
	}

	.quiz-example {
		margin-top: 60px;
		padding-bottom: 35px;
	}

	@include media($phablet) {
		.title-quiz {
			grid-column: 1;
			grid-row: 1;
		}

		.description-quiz {
			grid-column: 1;
			grid-row: 2;
		}

		.title-button {
			grid-column: 2;
			grid-row: 1;
		}

		.description-button {
			grid-column: 2;
			grid-row: 2;
		}

		.pictures-button {
			grid-column: 1;
			grid-row: 1 / span 2;
		}
		.pictures--two-button {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 35px;
		}
	}
}

.home-section__quiz--info {
	color: $black-grey;
	.tile-stats {
		display: flex;
		@supports (display: grid) {
			grid-template-columns: 50% 50%;
		}
		> div {
			flex: 50%;
		}
		i {
			margin-top: 0;
			padding: 0;
		}
		p {
			padding: 0;
		}
	}
}

.home-section__quiz--embed {
	white-space: nowrap;
	text-align: center;
	margin: 1em 0;
	@include media($phablet) {
		padding-right: 50px;
		margin-top: 25px;
	}

	h3 {
		text-align: left;
		color: $black-grey;
	}

	.helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		margin-top: 15px;
	}
	margin-top: 20px;
}

.see-all-posts--quiz {
	padding-bottom: 15px;
}

.research-container {
	.home-section__title {
		font-size: $font-size-h2;
	}
}
