.press-title {
    margin-bottom: 20px;
}

.press-table-top {
    border-bottom: solid .5px #000; 
    color: #000;
}

.press-table-row {
    border-bottom: solid .5px #000;
    color: #555;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
}

.press-table-side-col {
    width: 20%;
}

.press-table-mid-col {
    width: 60%;
}


.zui-table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

// press-journalism template
.page-template-press-template p {
   margin-bottom: 0px;
}

