.press-title {
	margin-bottom: 20px;
	padding: 0 1em;
}
tr {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 0.5px #000;
	@include media($tablet) {
		display: table-row;
	}
}
.press-table-top {
	color: #000;
	width: 100%;
	@include media($tablet) {
		border-bottom: solid 0.5px #000;
	}
}

.press-table-row {
	color: #555;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px;
	text-shadow: 1px 1px 1px #fff;
	@include media($tablet) {
		font-size: 14px;
		padding: 15px;
		border-bottom: solid 0.5px #000;
	}
}

.press-table-side-col {
	width: 20%;
}

.press-table-mid-col {
	width: 60%;
}

.zui-table {
	border: solid 1px #ddeeee;
	border-collapse: collapse;
	border-spacing: 0;
	font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
	background-color: #ddefef;
	border: solid 1px #ddeeee;
	color: #336b6b;
	padding: 10px;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
	border: solid 1px #ddeeee;
	color: #333;
	padding: 10px;
	text-shadow: 1px 1px 1px #fff;
}

// press-journalism template
.page-template-press-template p {
	margin-bottom: 0px;
}
