.bio-container {
    //display: flex;
    margin-left:2%;
    float:left; 
    width: 100%;
    height:40px;
    width:40px;	
}

.pic-details {
    //display: flex;
    margin-left:2%;
    float:left; 
}


// .bio-child {
//     flex: 1;
// }  

// .bio-child:first-child {
//     margin-right: 20px;
// } 