@each $name, $value in $teamCategories {
	.filter__item--team_category--#{$name} {
		&.filter__item--current-parent {
			border-color: map-get($categoryColors, $name);
		}

		.filter__link--current-parent {
			color: map-get($categoryColors, $name);
		}

		.filter__link--current {
			color: map-get($categoryColors, $name);
		}

		.filter__link--parent {
			color: map-get($categoryColors, $name);
		}

		.filter__link {
			&:hover {
				color: map-get($categoryColors, $name);
				border-color: map-get($categoryColors, $name);
			}
		}
	}
}

.mate__content {
	grid-column: 1/-1;
}

.mate__bio {
	font-size: 14px;
}

.mate__img-wrap {
	@include flex-width(25%);
	@include media($laptop) {
		@include flex-width(auto);
		justify-content: flex-start;
	}
}

.mate__img {
	border-radius: $circle-radius;
}

.mate--has-img,
.additional {
	.mate__content {
		@include flex-width(70%);

		@include media($phablet) {
			@include flex-width(75%);
		}
		@include media($laptop) {
			@include flex-width(82%);
		}
		@include media($desktop) {
			@include flex-width(85%);
		}
	}
}

.mate__name {
	font-family: $font-family-sans-serif;
	margin-bottom: 0;
	color: #005f86;
	text-decoration: none;
}

.mate__labels,
.mate__phone, 
.mate__designation,
.mate__email {
	font-family: "Arial", monospace;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	color: #333f48;


	
}

.size {
	font-size: 14px;
}

.meta-size {
	font-size:0.75rem;
}


.mate--tease {
	position: relative;
	grid-column-gap: 5px;

	.mate__img-wrap {
		max-width: 50px;

		@include media($mobile) {
			grid-row: 1;
			grid-column: 1/2;
		}

		@include media(700px) {
			grid-column: 1/4;
		}
	}

	&.mate--has-img,
	&.additional {
		.mate__content {
			@include media($mobile) {
				grid-row: 1;
				grid-column: 2/-1;
			}
			@include media(700px) {
				grid-column: 4/-1;
			}
		}
	}

	.mate__name {
		color: $navy;
		font-size: 0.85rem;
	}

	.mate__labels {
		font-size: 0.6rem;
	}
}

.mate-tease__link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.cme-position {
	color: #005f86;
	width: max-content;
}


@supports not (display: grid) {
	.mate {
		flex-flow: column wrap;
		margin-bottom: $spacer;
	}
}

@supports (display: grid) {
	.mate {
		grid-column: 1/-1;
	}
	.mate__img-wrap {
		grid-row: 1;
		grid-column: 1/-1;
		@include media($mobile) {
			grid-row: 1;
			grid-column: 1/3;
		}
	}
	.mate--has-img,
	.additional {
		.mate__content {
			@include media($mobile) {
				grid-column: 3/-1;
			}
		}
	}
}

.icon-color {
	color: #333f48;
	font-size: 12px;
	top: 0.21rem;
	position: absolute;
}

.icon-box {
	float:left; 
	position: relative;
}

.mate__text {
	padding-left: 20px;
}


.break-word {
	overflow-wrap: break-word;
}
