/* Footer */

footer.content-info {

	padding: 2em 0 2em;
	background-image: linear-gradient(-180deg, rgba(255,255,255,0) 50%, #E1E4E7 100%);

	.textwidget {
		color: $gray-light;
		font-size: 0.85em;
	}

	.menu {
		margin: 1em auto; padding: 0;
		li {
			list-style: none;
			display: inline-block;
			border-left: 2px solid $gray-lighter;
			margin: 0;
		}
		li:first-child {
			border: none;
		}
		li > a {
			font-size: 14px;
			text-transform: uppercase;
			color: $gray;
			padding: 1em 0.5em;
		}
	}
}
