.banner, .nav-secondary {
	.container {
		//width: auto; max-width: 1920px;
	}
	background-color: $brand-gray-lightest;
	color: #FFF;
	a { color: $brand-gray-light; }
	a:hover { color: $brand-gray; }
	.nav {
		.btn > a, a.btn {
			//padding: 0;
			border: 1px solid $brand-gray-lighter;
			border-radius: 4px;
			margin: 0;
		}
	}
}
.nav-secondary {

}

.navbar {
	.container {
		//width: auto; max-width: 1920px;
	}
	padding: 0.5em 0;
	border-bottom: 2px solid #EEE;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand {
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	height: auto;
}

.nav-primary {
	float: left;
}

.nav-primary.navbar-default {
	float: right;
	.navbar-nav a {
		font-family: $font-family-headlines;
		color: $brand-gray-light;
		font-size: 1.375em;
		font-weight: 300;
		line-height: 2em;
	}

	.current_page_item, .current_page_ancestor, .current_page_parent {
		& > a {
			color: $navbar-default-link-active-color;
			font-weight: 500;
		}
	}
	@media (max-width: $screen-sm-max) {
		float: left;
	}

}

.nav-secondary {
	float: right;
	ul li {
		display: inline-block;
		margin-left: 4px;
	}
	.nav>li>a {
		padding: 2px 12px 4px;
		font-size: 0.875em;
		margin: 6px 0px;
	}
	.navbar-collapse {
		padding: 0;
	}
	.button > a, a.button {
		border-radius: 4px;
	}
}
.navbar-default {
	button.navbar-toggle {
		border-color: transparent;
	}
	button.navbar-toggle:hover, button.navbar-toggle:active {
		background-color: transparent;
	}
	.navbar-collapse, .navbar-form {
		border: 0; box-shadow: none;
	}
}
.navbar-brand-logo {
	float: left;
}
.navbar-brand-description {
	float: left;
	display: inline-block;
	margin-top: 18px;
	p {
		font-size: .625em;
		line-height: 1.5;
		margin: 0 0 0 2em;
		color: $brand-gray-light;
    letter-spacing: 0.01em;
		font-weight: 400;
	}
	@media (max-width: $screen-sm-max) {
		display: none;
	}
}

.brand-secondary {
	float: left;
	line-height: 34px;
}
