.banner {
	.container {
		width: auto; max-width: 1920px;
	}
	background-color: $brand-primary;
	color: #FFF;
	a { color: rgba(255,255,255,0.65); }
	a:hover { color: rgba(255,255,255,0.85); }
}

.navbar {
	.container { width: auto; max-width: 1920px; }
	padding: 1em 0;
	border-bottom: 2px solid #EEE;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand {
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	height: auto;
}

.nav-primary {
	float: left;
}
.navbar, .navbar-default .navbar-nav {

	a {
		color: $navbar-default-link-color;
		font-size: 1.125em;
		font-weight: 300;
		line-height: 1.875em;
	}

	.current_page_item, .current_page_ancestor, .current_page_parent {
		& > a {
			color: $navbar-default-link-active-color;
			font-weight: 600;
		}
	}

}
.nav-secondary {
	float: right;
	ul li {
		display: inline-block;
		margin-left: 4px;
	}
	.nav>li>a {
		padding: 2px 12px 4px;
		font-size: 0.875em;
		margin: 6px 0px;
	}
	.navbar-collapse {
		padding: 0;
	}
	.button > a, a.button {
		border: 1px solid rgba(255,255,255,0.5);
		border-radius: 4px;
	}
}
