.masthead {
	position: relative;
	background: darken($brand-gray-lightest, 1.5);

	&:after {
		content: '';
		background: darken($brand-gray-lightest, 1.5);
		position: absolute;
		top: 0;
		bottom: -100%;
		left: 0;
		right: 0;
		transform: skewY(-10deg);
		z-index: -1;
	}
}

.quiz-creator .masthead:after {
	bottom: -250%;
}

.banner {

	a:hover { color: $brand-gray; }
	.nav {
		.btn > a, a.btn {
			border-radius: 40px;
			margin: 0;
			padding: 10px 20px;
			background: #fff;
		}
	}
}
.nav-secondary {
	margin-top: 5px;

	a { color: $brand-blue; }
}

.navbar {
	padding: 0.5em 0;
	border-radius: 0;
	margin-bottom: 0;

	.container {
		border-bottom: 1px solid $brand-teal;
	}
}
.navbar-brand {
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	height: auto;
	margin-bottom: 10px;

	@media (max-width: $screen-xs) {
		padding-left: 2px;
		padding-right: 0;
		max-width: 85%;
	}
}

.nav-primary {
	float: left;
}

.nav-primary.navbar-default {
	.navbar-collapse {
		@media (min-width: $screen-sm-min) {
			padding: 0;
			margin-top: 10px;
		}
		@media (min-width: $screen-md-min) {
			padding: 0;
			margin-top: 5px;
		}
	}
	.navbar-nav {

		li {
			@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
				padding: 0;
				margin: 0 1em 0 0;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		a {
			font-family: $font-family-headlines;
			color: $brand-blue;
			font-size: 20px;
			font-weight: 300;
			line-height: 40px;

			@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
				font-size: 18px;
				padding: 5px;
				margin: 0;
			}
		}
	}

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current_page_parent {
		& > a {
			color: $navbar-default-link-active-color;
			font-weight: 500;
		}
	}

	@media (min-width: $screen-sm-min) {
      float: right;
    }
}


.nav-secondary {
	float: right;
	ul li {
		display: inline-block;
		margin-left: 0;
	}
	.nav>li>a {
		padding: 2px 6px 4px;
		font-size: 0.875em;
		margin: 6px 0px;
	}
	.navbar-collapse {
		padding: 0;
	}
	.button > a, a.button {
		border-radius: 4px;
	}
}
.navbar-default {
	button.navbar-toggle {
		border-color: transparent;

		@media (max-width: $screen-xs) {
			padding: 15px 6px;
			margin-right: 0;
		}
	}
	button.navbar-toggle:hover, button.navbar-toggle:active {
		background-color: transparent;
	}
	.navbar-collapse, .navbar-form {
		border: 0; box-shadow: none;
	}
}

.brand-secondary {
	float: left;
	line-height: 34px;
}
