
.page-menu {
	padding: 0;
	a { color: $navbar-default-link-color; }

	li {
		list-style: none;
	}
	li > a {
		font-weight: 300;
		padding: 10px 5px 10px 0;
		display: block;
	}
	.current_page_item, .current-cat {
		& > a {
			color: $navbar-default-link-active-color;
			font-weight: 600;
		}
	}
	margin-bottom: 1.5em;
}
@media screen and (max-width: $screen-sm-min) {
	.page-menu .nav li, .share-links li {
			display: inline-block;
	}
	.share-links li a {
		margin-right: 1em;
	}
	.widget.widget-share-links {
		.widget-title {
			float: left;
			margin: 0 1em 0 0;
		}
	}
}
.page-content {
	margin: 0 auto;
	//padding-left: 15px; padding-right: 15px;
}
.section-layout {
	main {
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
			margin-left: 190px;
		}
	}
}

.page-content {
	& * {  }
	img { max-width: 100%; height: auto; }
}
