.footer {
	padding-top: $spacer-lg;
	position: relative;
	overflow: hidden;
	@include media($desktop) {
		clear: left;
	}
	&:after {
		content: "";
		background: $gray-lighter;
		position: absolute;
		bottom: -100px;
		left: 0;
		right: 0;
		height: 380px;
		transform: skewY(-6deg);
		z-index: -1;
	}
	&:before {
		content: "";
		background: $gray-lightest;
		position: absolute;
		bottom: -100px;
		left: 0;
		right: 33%;
		height: 380px;
		transform: skewY(3deg);
		z-index: -1;
	}
}

.footer__footer {
	text-align: center;
	margin-top: $spacer-xl;
	padding-top: $spacer-xl;
	.menu {
		font-size: 1rem;
		list-style-type: none;
		text-align: center;
		.menu-item {
			margin-left: 0;
		}
	}
} // END .footer__footer

.footer__container {
	padding-top: $spacer-lg;
}

// SOCIAL
.social,
.share {
	list-style: none;
	display: flex;
	align-items: center;
}

.social__item,
.share__item {
	line-height: 1;
	margin-left: $spacer-sm;

	&:first-of-type {
		margin-left: 0;
	}
}

.share {
	line-height: 1;
	align-items: flex-end;
	font-size: 1rem;
}

	.footer__footer {
		@include media($laptop) {
			align-items: center;
		}
		.widget__wrapper {
			grid-column-end: span 12;
			@include media($tablet) {
				grid-column-end: span 4;
				justify-content: center;
			}
		}
		.widget {
			display: grid;
			text-align: center;
		}
	}

.widget--right .menu {
	columns: 2;
}

.social {
	justify-content: center;
	margin-top: $spacer-sm;
	margin-bottom: $spacer-sm;
	@include media($laptop) {
		margin: 0 0 $spacer 0;
	}
}