
.menu__main-menu {
	&.searchform {
		background-color: $white;
	}
	.menu__item {
		font-weight: 700;
	}
}
// secondary nav
.menu__secondary {
	font-size: 0.8rem;
	align-items: center;
	background-color: #fff;
	z-index: 9;
	padding-top: $spacer-sm;
	@include media($phablet) {
		padding-top: 1em;
		margin-bottom: 0;
	}
	.menu__list {
		margin-bottom: $spacer-sm;
		@include media($tablet) {
			margin-bottom: 0;
		}
	}
	.menu__item {
		display: inline-block;
		margin-left: $spacer-sm;
		position: relative;
	}
	@include media($desktop) {
		float: right;
		margin-bottom: 1em;
	}
	.menu {
		@include media($tablet) {
			padding-right: $spacer;
		}
	}
	input[type="text"] {
		margin-right: $spacer-xs;
	}
	.btn {
		a {
			border: none;
			color: #bf5700;
			margin-left: 25px;
			&::before {
				background: url("/wp-content/themes/engage-2-x/assets/img/avatar.png");
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				background-repeat: no-repeat;
				left: -10px;
				top: 0px;
				display: block;
				background-size: cover;
				transition: all 0.3s;
				@include media($laptop) {
					margin-left: 15px;
				}
			}
		}
		&:hover a:before {
			left: 10px;
			@include media($laptop) {
				left: -5px;
			}
		}
	}
	.btn,
	.button {
		@include btn-reset;
		margin-left: 1.5rem;
		@include media($laptop) {
			margin-left: $spacer-sm;
		}
		a {
			border-radius: 40px;
			margin: 0;
			padding: 6px 12px;
			font-size: 0.85rem;
			@include media($tablet) {
				padding: 10px 30px;
			}
		}
	}

	.social {
		margin-left: $spacer-sm;
		margin-bottom: 0;
	}
	// END .menu__secondary base styles
}
// END .menu__secondary

// Styles for dropdown menus
.menu__link {
	color: $black-grey;
	text-decoration: none;
}


.menu__sublist {
	z-index: 999;
	position: absolute;
	top: 100%;
	display: none;
	padding: 0 15px 0 15px;
	text-align: left;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: $dropdown-shadow;
	background-color: $white;
	margin-bottom: 0;
	@include media($tablet) {
		white-space: nowrap;
	}
	@include media("max", $desktop) { // for mobile
		padding: 5px 0 5px 10px;
		left: 0;
		border: none;
		position: relative;
		margin-left: 15px;
		box-shadow: none;
	}
}
.menu__sublist {
	.menu__item {
		&:hover {
			a {
				color: lighten($orange-light, 15%);
			}
		}
	}
}

.menu__sublist-link {
	font-size: 14px;
	font-weight: normal;
	display: block;
	line-height: 1.3rem;
	padding: .5rem 0;
}

.menu__sublist .menu__sublist {
	z-index: 999;
	max-width: 8.9rem;
	display: none;
	position: absolute;
	top: -20px;
	left: 97%;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
	padding-right: 15px;
	@include media("max", $tablet) {
		position: relative;
		left: 30px;
		padding-left: 0;
		margin-left: 0;
		padding-top: 15px;
		background-color: transparent !important;
		box-shadow: none;
	}
}

.menu__item:focus .menu__sublist:not(.nested),
.menu__item:focus-within .menu__sublist:not(.nested),
.menu__item:hover .menu__sublist:not(.nested),
.menu__item:hover .menu__sublist:not(.nested) {
	display: block;
}

.menu__item.has-nested-menu:focus .menu__sublist,
.menu__item.has-nested-menu:focus-within .menu__sublist,
.menu__item.has-nested-menu:hover .menu__sublist,
.menu__sublist .collapsable:hover {
	display: block;
}

.menu__item.menu__sublist-item {
	margin-left: 0;
	display: block;
	z-index: 9;
}

.menu__sublist.nested {
	margin: 0;
	top: -5px;
}

.sidebar-menu {
	margin-top: 20px;
}

// search bar
.searchform {
	// when in main menu
	&.menu__main-menu {
		display: block;
		margin-left: 1.6rem;
		// box-shadow: $mobile-menu-shadow;
		@include media($tablet) {
			display: none;
		}
	}
	// when in quick links
	&.menu__quick-links {
		display: none;
		@include media($tablet) {
			display: inline-block;
		}
	}
}
// @supports queries
@supports not (display: flex) {
	.menu__main-menu {
		@include media($tablet) {
			margin: $spacer-sm auto;
			float: right;
		}
		&:not(.searchform) {
			@include media($desktop) {
				width: 70%;
			}
			.menu__list {
				@include media($laptop) {
					float: right;
				}
			}
		}
	}
	.menu__secondary {
		@include media($tablet) {
			float: right;
		}
		.menu {
			@include media($tablet) {
				display: inline-block;
			}
		}
		.menu__list {
			float: right;
			@include media($laptop) {
				float: none;
			}
		}
	}
} // END not (display: flex)

@supports (display: flex) {
	.menu__secondary {
		display: flex;
		flex: 1 100%;
		align-items: center;
		justify-content: flex-end;
	}
}

@supports (display: grid) {
	.menu__secondary {
		@include media($tablet) {
			grid-column: 2;
			grid-row: 1;
			align-self: center;
			justify-self: end;
		}
	}
} // END (display: grid)
