.orbit-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content max-content;
  @include media($phablet) {
    grid-template-rows: repeat(12, 25px);
    min-height: 40px;
  }
}

.orbit-container.container {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .orbit-container.container {
    margin-top: 0px;
  }
}

.orbit-callout {
  z-index: 10;

  grid-column: 1 / -1;
  grid-row: 1;

  @include media($phablet) {
    // grid-column: 6 / span 10;
    grid-row: 5;
  }
}

.orbit-callout__title {
  font-weight: 700;
  font-size: 40px;
  color: $black-grey;
  // margin-bottom: 1rem;
  line-height: 1.2;

  @include media($phablet) {
    font-size: 40px;
  }
}
.director {
  margin-left: 100px;
  margin-top: 15px;
  font-size: 25px;
}
.quote {
  font-size: 40px;
  margin-right: 5px;
}
.left {
  margin-left: 5px;
}

.orbit {
  grid-column: 1 / -1;
  grid-row: 2;
  @include media("max", $phablet) {
    margin: 30px auto;
  }
  display: none;

  @include media($phablet) {
    grid-column: 2 / span 4;
    grid-row: 6;
    overflow: hidden;
    display: block;
  }
}

.orbit-field,
.orbit-field-info-container {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: $circle-radius;
  margin: auto;
  background: transparent;
  box-shadow: none;

  @include media($phablet) {
    width: 140px;
    height: 140px;
  }
}

.orbit-field-info-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: transparent;
  z-index: 5;
  top: 0;
  left: 0;
  border-radius: $circle-radius;
  -webkit-border-radius: $circle-radius;
  border: solid 5px $orange-faded;
  background: $orange-faded;

  // TODO: These are the properties to change if you want to change the size of the gray border of the circle

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    border: 2px solid rgba(0, 0, 0, 0.075);
    border-radius: $circle-radius;
  }

  &:before {
    width: 350%;
    height: 350%;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }
}

.orbit-field-info {
  position: relative;
  z-index: 2;
}

.orbit-ball {
  position: absolute;
  border-radius: $circle-radius;
  width: 10px;
  height: 10px;
  background: #0ebeff;
}

.btn--change-pull,
.btn--increase-pull {
  @include btn-reset;
  float: left;
  border: none;
  background: $orange;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: $circle-radius;
  cursor: pointer;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
  transition: transform 0.15s ease-out;

  &:hover {
    transform: scale(1.15);
  }

  &:disabled {
    background: $orange;
    opacity: 0.7;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 2px $orange;
  }
}

.btn--decrease-pull {
  width: 42px;
  height: 42px;
  &:hover {
    transform: scale(0.9);
  }
}

.orbit-field-info__title {
  font-size: 14px;
  font-weight: bold;
  color: $orange;
  margin-bottom: 0;
}

.orbit-current-pull {
  font-size: 38px;
  position: relative;
  color: $orange;
  font-weight: 700;
  padding: 3px;
  line-height: 1.2;
  margin: 0;
}

.orbit-percentage-sign {
  font-size: 15px;
  position: absolute;
  top: 5px;
  right: -4px;
}

.orbit-gravity-form {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  display: none;

  @include media($phablet) {
    display: block;
  }
}

.research-container.container {
  margin-top: 0px;
  @include media($phablet) {
    margin-top: 0px;
  }
}

.btn--orbit-toggle {
  margin-left: $spacer-xs;
  outline: none;
  transition: transform 0.15s ease-out;
  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 0 2px $orange;
  }
}

.icon--mobile {
  display: block;
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 256px;
  fill: #111;
}

.mobile__speaker,
.mobile__home-button,
.mobile__camera {
  fill: #222;
}
.mobile__screen {
  fill: $white;
}
