.archive__sidebar {
	@include media($phablet) {
		float: left;
		padding-right: 1em;
		width: 20%;
	}
	@include media($tablet) {
		width: 15%;
	}
}
.newsletter-post,
.newsletter-about,
.newsletter-landing {
	p {
		margin-bottom: 1.2rem;
	}
	@include media($phablet) {
		text-align: left;
		font-size: 0.75rem;
	}
	.newsletter-input {
		width: 150px;
	}
}
.media-ethics-sidebar {
	.widget__title {
		margin-top: 0;
		font-family: $font-family-sans-serif;
		color: $black-grey;
		font-size: $font-size-h5;
	}
}
.full-width .newsletter__wrapper {
	width: 100%;
}
// END base styles

@supports not (display: flex) {
	.sidebar-primary {
		@include media($phablet) {
			width: 75%;
			padding-left: 1.6rem;
			float: right;
		}
		@include media($desktop) {
			width: 80%;
			float: right;
		}
	}
}

@supports not (display: grid) {
	.archive__sidebar {
		@include media("max", $mobile) {
			order: 1;
		}
		@include media($phablet) {
			@include flex-width(25%);
		}
	}
	.media-ethics-sidebar {
		width: 20%;
	}
} // END not (display: grid)

@supports (display: flex) {
	.sidebar-primary {
		@include media($phablet) {
			order: 5;
			padding-left: $sidebar-width-md;
		}
		@include media($laptop) {
			padding-left: $sidebar-width-xlg;
		}
		@include media($desktop) {
			padding-left: $sidebar-width-lg;
		}
	}
	.archive__sidebar {
		@include media($phablet) {
			@include flex-width(15%);
			order: 1;
		}
		@include media($tablet) {
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			@include flex-width(15%);
		}
		@include media($laptop) {
			@include flex-width(20%);
		}
	}
	.newsletter-post,
	.newsletter-about,
	.newsletter-landing {
		@include media($phablet) {
			@include flex-width(20%);
		}
	}
	.full-width .newsletter__wrapper {
		order: 4;
	}
} // END (display: flex)

@supports (display: grid) {
	.sidebar-primary {
		order: 4;
		@include media($phablet) {
			grid-column: 2;
			grid-row-start: 6;
			padding-left: 0;
		}
	}
	.archive__sidebar {
		width: 100%;
		grid-column: 1 / -1;
		padding-right: 10px;
		@include media($phablet) {
			display: grid;
			grid-column: 1/4;
			grid-row: 1;
		}
		@include media($tablet) {
			grid-column: 1/3;
		}
	}
	.newsletter-about {
		@include media($phablet) {
			grid-column: 1/4; 
			grid-row: 2;
		}
	}
	.newsletter-post,
	.newsletter-about,
	.newsletter-landing {
		@include media($phablet) {
			grid-column: 1;
		}
	}
	.media-ethics-sidebar {
		order: 2;
		@include media($phablet) {
			grid-column: 2;
		}
		@include media($desktop) {
			grid-row: 3 / span 4; 
			grid-column: 3;
			font-size: $font-size-base;
			max-width: 200px;
			margin-left: 0px;
		}
	}
} // END (display: grid)
.emoji {
	max-width: 20px;
}

// Plugin: Recent Posts Extended (RPE)
// Edit widget: WP Admin / Appearance / Widgets / Top Footer. Widget settings: image: w150, h150, left; no custom css 
// Edit widget: Widget settings: image: w150, h150, left; no custom css: see below
// START RPE Required reset css. Info: https://wordpress.org/plugins/recent-posts-widget-extended/#how%20to%20add%20custom%20style%3F
.rpwe-block ul {
	list-style: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
	// custom
	display: grid;
	grid-auto-rows: auto;
	grid-column-gap: 0px;
	grid-row-gap: 20px;
	@include media($phablet) {
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
	}
}
.rpwe-block li {
	border-bottom: none;
	margin-bottom: 0;
	margin-left: 0;
	padding-bottom: 0;
	list-style-type: none;
	// custom
	@include tile-style;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	&:hover {
		@include tile-style-hover
	}
	@include media($phablet) {
		grid-column-end: span 6;
	}
	@include media($desktop) {
		grid-column-end: span 3;
	}
}
.rpwe-block a {
	display: inline !important;
	text-decoration: none;
	// custom
	font-size: $font-size-base;
	font-weight: 700;
}
.rpwe-block h3 {
	background: none !important;
	clear: none;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	font-weight: 400;
	font-size: 12px !important;
	line-height: 1.5em;
	// custom
	padding-top: 10px;
}
.rpwe-thumb {
	border: none !important;
	box-shadow: none !important;
	margin: 0;
	padding: 0 !important;
	// custom
	@include media($desktop) {
		height: 100%;
		object-fit: cover;
	}
}
.rpwe-summary {
	font-size: 12px;
}
.rpwe-time {
	color: #bbb;
	font-size: $font-size-small;
}
.rpwe-alignleft {
	display: inline;
	float: left;
}
.rpwe-alignright {
	display: inline;
	float: right;
}
.rpwe-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.rpwe-clearfix:before,
.rpwe-clearfix:after {
	content: "";
	display: table !important;
}
.rpwe-clearfix:after {
	clear: both;
}
.rpwe-clearfix {
	zoom: 1;
}
// // START extra custom
.rpwe-img {
	grid-column: span 10 / 5;
	grid-row: 1/span 2;
	width: 100%;
	height: 100%;
}
.rpwe-title,
.rpwe-time {
	grid-column: span 6 / 12;
}
// // END extra custom
// END RPE Required reset css
