.quiz-creator-research.tree::after{
	content: '';
	background-color: $gray-lighter;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: skewY(-8deg);
}

#embed-code{
	min-height: 80px;
	margin-bottom: 20px;
}

.subhead, .step-header{
	color: darken($orange, 7%);
}

.tree-link{
	color: $orange;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
		color: $orange;
	}
}
.col-sm-6 > h3{
	color: $gray-dark;
}
