.widget__title {
	font-family: $font-family-sans-serif;
	margin-top: 15px;
	font-size: 20px;
}

.widget__prompt {
	margin-bottom: 1rem;
	color: $black-grey;
}

.newsletter__wrapper {
	overflow: hidden;
	position: relative;
}

.newsletter-page {
	position: relative;
	padding: $spacer-lg;
	padding-bottom: $spacer-xs;
	background: transparent;
	text-align: left;
	font: $font-family-sans-serif;

	@include media($phablet) {
		margin: 4rem auto;
		width: 100%;
		max-width: 400px;
		background: #fbfbfb;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	}

	.ninja-form {
		margin: 0;
	}

	.widget__title {
		margin-top: 1rem;
		color: $black-grey;
	}

	.newsletter-prompt {
		margin-bottom: 1.6rem;
		color: $black-grey;
	}

	.newsletter-input {
		font: $font-family-sans-serif;
		width: 100%;
		border: 1px solid;

		@include media($phablet) {
			border: none;
		}
	}
}

.newsletter-post {
	grid-row: 5;

	@include media($phablet) {
		grid-row: 3;
		padding-top: $spacer;
	}
}

.newsletter-about {
	// you can swap out this `700px` for the `$phablet` mixin :) as well as any others you found.
	height: fit-content;
    padding: $spacer $spacer 0 $spacer;
	background-color: $gray-lighter;
	box-shadow: $tile-shadow;
	@include media(700px) {
		grid-row: 2;
	}
}
// UPDATED CODE BELOW // // // // // 
// UPDATED CODE BELOW // // // // // 
// UPDATED CODE BELOW // // // // // 

@supports not (display: grid) {
	.newsletter-about {
		order: 4;
	}
}

@supports (display: grid) {
	.newsletter-about {
		grid-row: 4;
	}
}
