{# 
    Archive template for Publication articles
    
    This template displays a grid of publication articles with their details including:
    - Title (with optional external link)
    - Publisher information
    - Publication date
    
    Available variables:
    - title: The archive title (e.g., "Publication")
    - posts: Array of Publication objects
		
		TODO:
		- Combine with archive-press.twig
#}
{% extends "base.twig" %}

{% block content %}
	{# Main publication archive section #}

	{% set categories = get_terms({
			'taxonomy': 'publication-categories',
			'hide_empty': true
		}) %}

	<section 
	class="archive-section container container--xl">
		{% if posts %}
			{% include 'tiles.twig' with { 
				intro: archive.intro, 
				posts: posts,
				loadEagerTiles: 6,
				post_type: archive.post_type
			} %}
			{# pagination #}
			{% include 'partial/pagination.twig' with { pagination: archive.posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		{% else %}
			<p class="no-publications">No publications found.</p>
		{% endif %}
	</section>
{% endblock %}
