<div class="comment comment--{{comment.comment_type}}" id="comment--{{comment.ID}}">
	<h5 class="comment__author">{{comment.author.name}} says</h5>
	<div class="comment__content">{{comment.comment_content|wpautop}}</div>

	<section class="comment__box">
		<!-- child comments -->
		{% if post.comments %}
			<h4 class="replies__title">Replies</h4>
			<div class="comment__replies">
				{% for cmt in comment.children %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %}

		<!-- comment form -->
		{% include "comment-form.twig" %}
	</section>
</div>