{# 
  filters.twig - Template partial for displaying a filter menu.

  This template is used to render a filter menu with various terms (categories, tags, etc.).
  The filters are typically associated with specific taxonomies or post types and are used 
  to allow users to navigate content more easily.

  Available variables:
  - filters: The filter object containing details about the filter menu, including its slug, title, and terms.
    - filters.slug: The slug identifier for the filter menu (e.g., 'media-ethics-menu').
    - filters.title: The title of the filter menu (e.g., 'Categories').
    - filters.terms: An array of term objects representing the individual filters.
#}

<div class="filters__wrapper">
	<div class="filter__container filter--{{ filters.slug }}">
		<h2 class="filter__title filter__title--{{ filters.slug }}">{{ filters.title }}</h2>
		<ul
			class="filters filters--{{ filters.slug }}">

			{# Loop through each term in the filters array to create individual filter items #}
			{% for term in filters.terms %}
				{# Skip the term with the title 'Former CME' as it's not meant to be included in the filters #}
				{% if term.title != 'Former CME' %}

					{# Special case: If the filter menu is for 'media-ethics' and the term is 'research', change the term title to 'Case Studies' #}
					{% if filters.slug == 'media-ethics-menu' and term.slug == 'research' %}
						{% set term = term|merge({'title': "Case Studies"}) %}

						{# Modify: If the term is 'blogs', replace it with the first sub-term title under it #}
					{% elseif term.slug == 'blogs' %}
						{% set nextTerm = term.terms | first %}
						{% set term = term|merge({'title': nextTerm.title}) %}
					{% endif %}

					{# Include the filter-item.twig partial to render the individual filter item #}
					{% include 'partial/filter-item.twig' %}
				{% endif %}
			{% endfor %}

		</ul>
	</div>
</div>
