{# Main menu with Bootstrap 5 navbar #}
{% if menu == mainMenu %}
	{% set navClass = 'menu navbar navbar-light' %}
{% else %}
	{% set navClass = 'menu' %}
{% endif %}

{% if menu %}
	<nav {{ id ? "id='#{id}'" }} class="{{ navClass }} menu__{{ menu.slug }} {{ collapsable ? "collapsable" }}" role="navigation">
		{% if menu == mainMenu %}
			<div class="navbar__components">
				{% include "partial/menu/logo.twig" %}
				{% include "partial/menu/toggle-button.twig" %}
			</div>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				{% include "partial/menu/menu-items.twig" with { 
					'items': menu.items,
					'collapsable': collapsable,
					'isMainMenu': true
				} %}
				{% include "partial/search.twig" with { 'menu': mainMenu } %}
			</div>
		{% else %}
			{% include "partial/menu/menu-items.twig" with { 
				'items': menu.items,
				'collapsable': collapsable,
				'isMainMenu': false
			} %}
		{% endif %}
	</nav>
{% endif %}

{% if menu == quickLinks %}
	{% include "partial/search.twig" with {
			'menu': quickLinks
		} %}
{% endif %}

{# if menu is main menu and has the aria-hidden attribute #}