{% extends "base.twig" %}

{% block content %}

<div class="container_team">
	
	{% for category in categories %}
		<h2 class="category_title">{{category_titles[category]}}</h2>
		{% include 'partial/teammates_new.twig' with { mates: filtered_posts[category], format: "excerpt" } %}
	{% endfor %}

</div>
{% endblock %}