{% extends "base.twig" %}

{% block content %}
	{{ quizSVGs }}
	<section id="enp-quiz" class="enp-quiz__main">
		{{ post.content }}
	</section>
	{% if options.footer_settings.quiz_footer %}
		{{options.footer_settings.quiz_footer}}
	{% endif %}
{% endblock %}