<section class="tiles grid grid--col-12 grid--gap-20">
	{% if intro %}
	{{ dump(intro) }}
		{% include "partial/tile-intro.twig" with { 'tile': intro } %}
	{% endif %}
	{% for post in posts %}
		{% include "partial/tile.twig" with { 
			'tile': post,
			'index': loop.index,
			loadEagerTiles
		} %}
	{% endfor %}
</section>