//
// Buttons
// --------------------------------------------------

.btn {
    text-align: center;
}
// Common styles
.btn-default,
.btn-primary {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  @include box-shadow($shadow);

  // Reset the shadow
  &:active,
  &.active {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include box-shadow(none);
  }

  .badge {
    text-shadow: none;
  }
}

// Mixin for generating new styles
@mixin btn-styles($btn-color: #555) {

  &:hover,
  &:focus  {
    background-color: darken($btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active {
    background-color: darken($btn-color, 12%);
    border-color: darken($btn-color, 14%);
  }
}

// Apply the mixin to the buttons
.btn-default { @include btn-styles($btn-default-bg); text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-primary { @include btn-styles($btn-primary-bg); }



.content a.btn {
  font-weight: 300;
}
.content a.btn-primary,
input[type=submit] {
    font-family: $font-family-base;
    background-color: $brand-primary;
    border: 0;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    padding: 14px 28px;
    border-radius: 40px;
}

.content a.btn-primary--ghost {
    border: 2px solid $brand-orange;
    background: #fff;
    color: $brand-orange;
    padding: 12px 26px;
    box-shadow: none;
    text-shadow: none;

    &:hover,
    &:focus {
        background: $brand-orange;
        color: #fff;
        border-color: transparent;
    }
}
