.content a.btn {
  font-weight: 300;
}
.content a.btn-primary, .comment-form input[type=submit] {
  background-color: $brand-primary;
  border: 0;
  color: #FFFFFF;
  //padding: 0.375em 1em 0.5em 1em;
}
