.content a.btn {
  font-weight: 300;
}
.content a.btn-primary,
input[type=submit] {
    font-family: $font-family-base;
    background-color: $brand-primary;
    border: 0;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    padding: 14px 28px;
    border-radius: 40px;
}
