// make container on enp-quiz pages full width
// since we have our own container controls and breakpoints
.enp-quiz #content.container {
    width: 100%;
    padding: 0;
}

body.enp-dashboard #enp-quiz,
body.enp-quiz-create #enp-quiz,
body.enp-quiz-preview #enp-quiz,
body.enp-quiz-publish #enp-quiz {
    background: #F8F8F8;
}

.enp-quiz .enp-breadcrumb-link {
    display: none;
}

body #enp-quiz .enp-btn--next-step {
    padding: .65em 1.2em .65em 1.4em;
}
