// make container on enp-quiz pages full width
// since we have our own container controls and breakpoints
.enp-quiz #content.container {
    width: 100%;
    padding: 0;
}

.enp-quiz {
    .masthead {
        background: $brand-gray-lightest;

        &:after {
            background: $brand-gray-lightest;
        }
    }
}

.enp-quiz-publish,
.enp-quiz-preview,
.enp-quiz-create
{
    .masthead {
        background: $brand-gray-lightest;
        &:after {
            background: $brand-gray-lightest;
        }
    }
    .navbar .container {
        border: none;
    }
}
body.enp-dashboard #enp-quiz,
body.enp-quiz-create #enp-quiz,
body.enp-quiz-preview #enp-quiz,
body.enp-quiz-publish #enp-quiz,
body.enp-ab-test #enp-quiz,
body.enp-quiz-results .enp-breadcrumb-link__container,
body.enp-ab-results .enp-breadcrumb-link__container,
body.enp-ab-test .enp-breadcrumb-link__container {
    background: $brand-gray-lightest;
}

body.enp-quiz-results,
body.enp-ab-results {
    #enp-quiz {
        background: transparent;

        .enp-results-title {
            background: transparent;
            border: none;
        }
    }
}

#enp-quiz a {
    //color: $brand-blue;
}

.enp-quiz .enp-breadcrumb-link__container {
    background-color: #fff;
    @extend .container;
}

.enp-quiz .enp-breadcrumb-link {
    font-weight: normal;
    text-transform: none;
    margin-left: -1rem;
    @media(min-width: 600px) {
        position: absolute;
        z-index: 999999;
    }
}

body #enp-quiz .enp-preview-form__submit--publish,
body #enp-quiz .enp-quiz-form__save {
    padding: 1.05rem 1.8rem 0.95rem;
    top: 0;
}

body #enp-quiz .enp-btn--next-step {
    //padding: .65em 1.2em .65em 1.4em;
}

body #enp-quiz .enp-quiz-styles__color-demo {
    top: 11px;
    left: 11px;
}

body #enp-quiz .enp-quiz-styles__input--color {
    padding-left: 48px;
}


// hacky fix to remove highlight on blog wordpress nav item when on enp-quiz pages (WordPress didn't have an easy way to remove it with PHP that I found)
.enp-quiz .nav-primary.navbar-default .current_page_parent>a {
    color: $brand-blue;
    font-weight: 300;
}

// highlight quiz creator nav link when on quiz creator pages
// enp-quiz-nav-link class is added via a plugin in WP
.quiz-creator,
.enp-quiz {
    .nav-secondary,
    .nav-primary  {
        .enp-quiz-nav-link>a {
           color: $brand-orange;
           font-weight: 600;
        }
    }
}

// Dashboard
body #enp-quiz {
    .enp-quiz-search__input {
        padding: .2rem .3rem .3rem 26px;
        margin: 0;
    }

    .enp-quiz-search__icon {
        bottom: 0.45rem;
    }

    .enp-search-quizzes__select,
    .enp-search-quizzes__select {
        font-size: 1rem;
    }

    .enp-quiz-search__input,
    .enp-search-quizzes__select,
    .enp-search-quizzes__select {
        margin-bottom: 0.2rem;
    }

    .enp-dash-item__username a {
        font-weight: 400;
    }
}
