.collapsable {
	&.is-hidden:not(.is-hiding) {
		opacity: 0;
		height: 12.5px;
		transform: translateY(-400px);
	}

	&.is-hiding {
		display: block;
        float: left;
        clear: both;
		animation: collapse 0.2s ease-out forwards;
		li {
			animation: collapseHide 0.2s ease-out forwards;
		}
	}

	&.is-opening {
		display: block;
		animation: collapseReveal 0.8s ease-out forwards;
		float: left;
	}

	&[aria-hidden="false"] {
		float: left;
        clear: both;
		li,
		form {
			opacity: 0;
			animation: collapseShow 0.325s ease-out forwards;
		}

		@for $i from 2 through 6 {
			li:nth-child(#{$i}),
			form {
				animation: collapseShow
					#{(0.325 + ($i * 0.02))}s
					#{(0.1 / $i) +
					($i * 0.05)}s
					ease-out
					forwards;
			}
		}
	}
	@include media($tablet) {
		&.is-hidden {
			display: block !important;
			opacity: 1 !important;
			height: auto !important;
			transform: none !important;
		}
	}
}

.collapsable--max-tablet {
	@include media("max", $tablet) {
		&.is-hidden:not(.is-hiding) {
			opacity: 0;
			height: 12.5px;
			transform: translateY(-400px);
		}

		.is-hiding {
			display: block;
			animation: collapse 0.4s ease-out forwards;

			li {
				animation: collapseHide 0.2s ease-out forwards;
			}
		}

		.is-opening {
			display: block;
			animation: collapseReveal 0.8s ease-out forwards;
		}

		[aria-hidden="false"] {
			display: block;
			li {
				opacity: 0;
				animation: collapseShow 0.325s ease-out forwards;
			}

			@for $i from 2 through 8 {
				li:nth-child(#{$i}) {
					animation: collapseShow
						#{(0.325 + ($i * 0.02))}s
						#{(0.1 / $i) +
						($i * 0.05)}s
						ease-out
						forwards;
				}
			}
		}
	}
}

@keyframes collapseShow {
	0% {
		opacity: 0;
		transform: translate3d(-20px, 0px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes collapseHide {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}
}

@keyframes collapse {
	0% {
		max-height: 200px;
		opacity: 1;
	}

	100% {
		max-height: 0px;
		opacity: 0;
	}
}

@keyframes collapseReveal {
	0% {
		max-height: 0px;
	}

	100% {
		max-height: 200px;
	}
}
