{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}">
		
		{% block header %}
			<header class="header wrapper wrapper--pad" >
				{% include 'header.twig' %}
			</header>
		{% endblock %}
		

		<main role="main" class="main wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			<footer class="footer wrapper wrapper--pad">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
