{% extends "base.twig" %}

{% block content %}
	<div class="wrapper--pad">
		<div class="container grid grid--gap-30 grid--col-12">
			{% if archive.filters %}
				<div class="archive__sidebar">
					{% include 'filters.twig' with { filters: archive.filters } %}
				</div>
				<div class="archive__content home-section">
					{% include 'partial/ethics-links.twig' with {navTiles: navTiles } %}
				</div>
			{% else %}
				{% include 'tiles.twig' with { intro: archive.intro, posts: archive.posts } %}
			{% endif %}
		</div>
	</div>
{% endblock %}
