<div class="filters__wrapper">
	<div class="filter__container filter--{{ filters.slug }}">
		<h2 class="filter__title filter__title--{{ filters.slug }}">{{ filters.title }}</h2>
		<ul class="filters filters--{{ filters.slug }}">
		{% for term in filters.terms %}
		{# {% include 'partial/filter-item.twig' %} #}
			{% if term.title != 'Former CME' %}
				{% if filters.slug == 'media-ethics-menu' and term.slug == 'research' %}
					{% set term = term|merge({'title': "Case Studies"}) %}
				{% endif %}
				{% include 'partial/filter-item.twig' %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
