<div class="filters__wrapper">
	<div class="filter__container filter--{{ filters.slug }}">
		<h2 class="filter__title filter__title--{{ filters.slug }}">{{ filters.title }}</h2>
		<ul class="filters filters--{{ filters.slug }}">
		{% for term in filters.terms %}
		{# {% include 'partial/filter-item.twig' %} #}
			{% if term.title != 'Former CME' %}
				{# Modify: changes 'blog' to the name of the category under that vertical #}
				{% if term.slug == 'blogs' %}
					{% set nextTerm = term.terms | first %}
					{% set term = term|merge({'title': nextTerm.title}) %}
				{% endif %}
				{% include 'partial/filter-item.twig' %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
