<div class="footer__container container">
	<div class="footer__widgets">
		{{ footerWidgets }}
	</div>
	<div class="footer__footer">
		{% include 'menu.twig' with { menu: footerMenu } %}
		{% include 'partial/social.twig' %}
		<address class="footer__address hint">
			<strong>Center for Media Engagement</strong><br/>
			Moody College of Communication<br/>
			The University of Texas at Austin<br/>
			2504 B Whitis Avenue (A0730)<br/>
			Austin, TX 78712-1879
		</address>
		<p class="footer__copy hint">© Copyright {{"now"|date('Y')}} Center for Media Engagement. All Rights Reserved.</p>
	</div>
</div>