<div class="header__container container">
<div id="secondary-nav" class="menu__secondary text-right">
    {% include "menu.twig" with {
      'menu' : quickLinks
    } %}
    {# REMOVED social media from quick links #}
    {# {% include "partial/social.twig" %} #}
  </div>
  <h1 class="header__logo" role="banner">
    <a class="header__logo__link" href="{{site.link}}" rel="home">
      <span class="sr-text">{{site.name }}</span><img src="{{theme.link}}/assets/img/cme-logo.png" alt="{{site.name }} Logo"/></a>
  </h1>
  <button id="menu-toggle" class="navbar-toggle">
    <span class="sr-text">Toggle navigation</span>
    <span class="hamburger-bars"></span>
  </button>
  {% include "menu.twig" with {'menu': mainMenu, 'id': 'main-nav', 'collapsable': true } %}
</div>