{% extends "base.twig" %}

{% block content %}
	<div class="container">

		<h2>{{ post.title }}</h2>
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
		<div class="blog-nav">
			{% include 'partial/pagination.twig' %}
		</div>

	</div>
{% endblock %}
