{% extends "base.twig" %}

{% block content %}
  <div class="post__wrapper wrapper--pad">
    <div class="article__wrapper container container--lg">
      {{post.content}}
      <h1 class="section-margin">{{post.meta('tiles_title')}}</h1>
      {% include 'tiles.twig' with {
        posts : [post.meta('left_tile'), post.meta('middle_tile'), post.meta('right_tile')]
      }%}
    </div>
  </div>
{% endblock %}