{% extends "base.twig" %}

{% block content %}
	<article class="container container--md post-type--{{post.post_type}}" id="post--{{post.ID}}">
		<header class="article__header">
			<h1 class="article__title">{{post.title}}</h1>
		</header>
		<div class="article__content">
			{{post.content}}
		</div>
		<div class="home-funders home-section">
			<div class="home-section__slanty-bar"></div>
			<div class="container container--xl wrapper--pad">
				<h3 class="home-section__title">Funders &amp; Partners</h3>
				{% include 'partial/funders.twig' with { funders: about.funders } %}
			</div>
		</div>
	</article>
{% endblock %}
