body.archive {
	.header {
		background: darken($white, 1%);

		&:after {
			background: darken($white, 1%);
			bottom: -50%;
			transform: skewY(-5deg);
		}
	}
}

.archive__content {
	@include media($tablet) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		@include flex-width(80%);
	}
	@include media($laptop) {
		flex: 0 0 82%;
	}
	@supports (display: grid) {
		grid-column: 1 / -1;

		@include media($tablet) {
			grid-column: 3 / -1;
		}
	}
}
.archive__content__general,
.archive__content__board {
	grid-column: 1/-1;
}
