body {
  background: #fff;
}

.main-body-wrapper {
  overflow-x: hidden;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.align_items_center {
  align-items: center;
}

.row_newsletter {
  overflow: visible;
  margin: 20px;
}

.row_item {
  flex: 1;
}
