<div class="brandbar">
  <a href="https://moody.utexas.edu" class="brandbar__link">
    <span class="sr-text">University of Texas at Austin</span>
    <span class="brandbar__logo">
      <img src="{{theme.link}}/assets/img/brandbar-logo.png" />
    </span>
  </a>
</div>