{% if post.vertical.slug == "propaganda" %}
<p class="article-meta__item article-meta__item--research"><a href="/flag-disinformation" class="btn btn--stretch btn--icon research-meta__btn btn--research-report">
	<span class="btn__text">Flag as Disinformation </span>
</a></p>
{% endif %}