<div class="tile tile--has-img tile--research-cat--digital-ethics tile--vertical--media-ethics">
  <div class="tile__img-wrap">
    <img class="tile__img" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" alt="{{ post.thumbnail.alt }}"/>
  </div>

  <a class="tile__link" href="/vertical/media-ethics/research/category/digital-ethics/">
    <span class="sr-text">Digital Ethics</span></a>
  <h3 class="tile__title h3">Digital Ethics</h3>
  <p class="tile__date">lorem ipsum set dolor...lorem ipsum set dolor... lorem ipsum set dolor...</p>

</div>
