<ul>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/digital-ethics/">
            <h2>Digital Ethics</h2>
        </a>
    </li>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/journalism-ethics/">
            <h2>Journalism Ethics</h2>
        </a>
    </li>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/advertising-public-relation-ethics/">
            <h2>Advertising/Public Relations Ethics</h2>
        </a>
    </li>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/free-speech/">
            <h2>Free Speech</h2>
        </a>
    </li>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/aesthetics-art-ethics/">
            <h2>Aesthetics, Art, & Ethics</h2>
        </a>
    </li>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/health-communication-ethics/">
            <h2>Health Communication Ethics</h2>
        </a>
    </li>
    <li class="ethics-link">
        <a href="/vertical/media-ethics/research/category/sports-media-journalism-ethics/">
            <h2>Sports Media & Journalism Ethics</h2>
        </a>
    </li>
</ul>
