<section class="ethics-links tiles grid grid--col-12 grid--gap-20">
    {% for tile in tiles %}
      {% include 'partial/ethics-link.twig' with { mates: archive.posts } %}
    {% endfor %}
</section>
