<div class="orbit-wrapper orbit-hero wrapper--pad">
  <div class="orbit-container container container--md">
    <!-- <div class="orbit"> <div id="orbit-field" class="orbit-field"> <div id="orbit-balls" class="orbit-balls"></div> <div class="orbit-field-info-container orbit-field-info-container--mobile" aria-live="polite"> <div class="orbit-field-info"> <h3
    class="orbit-field-info__title">Engagement</h3> <p class="orbit-current-pull"> <span id="orbit-current-gravity"></span> <span class="orbit-percentage-sign">%</span> </p> </div> </div> </div> </div> -->
    <section class="mates grid grid--col-12 grid--gap-20">
      {% for mate in mates %}
        {% include "partial/teammate.twig" with {
          'mate' : mate
        } %}
      {% endfor %}
    </section>

    <div class="orbit-callout">
      <h2 class="orbit-callout__title">
        <span class="quote">"</span>We work with the media to break down barriers across lines of difference.<span class="quote left">"</span>
        <div class="director">-Talia Stroud, Director</div>
      </h2>

      <!-- <form class="orbit-gravity-form"> <span class="sr-text">Set Pull</span> <button type="button" id="orbit-increase-pull" class="btn--change-pull btn--increase-pull"> <span class="sr-text">Increase Engagement</span>+</button> <button type="button"
      id="orbit-decrease-pull" class="btn--change-pull btn--decrease-pull"> <span class="sr-text">Decrease Engagement</span>-</button> <button type="button" id="orbit-toggle-animate" class="btn btn--ghost btn--sm btn--orbit-toggle"> <i class="fas
      fa-pause"></i> </button> </form> -->
    </div>
  </div>
</div>