
<div class="orbit-wrapper orbit-hero">
  <div class="hero orbit-container container container--md">
    <div class="orbit">
      <div id="field">
        <div id="balls"></div>
        <div class="field-info-container field-info-container--mobile" aria-live="polite">
          <svg class="icon icon--mobile"><use xlink:href="#mobile"></use></svg>
          <div class="field-info">
            <h3 class="field-info__title">Engagement</h3>
            <p class="current-pull">
              <span id="current-gravity"></span>
              <span class="percentage-sign">%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="callout">
      <h2 class="callout__title">We Research & Build Tools To Pull Your Users In</h2>
      
      <form class="gravity-form">

        <span class="sr-text">Set Pull</span>
         <button type="button" id="increase-pull" class="btn--change-pull btn--increase-pull"><span class="sr-text">Increase Engagement</span>+</button>
        <button type="button" id="decrease-pull" class="btn--change-pull btn--decrease-pull"><span class="sr-text">Decrease Engagement</span>-</button>


      </form>
    </div>
  </div>
</div>