<section class="researchers">
	<h3 class="researchers__title">Researchers</h3>
	{% for researcher in researchers %}
		{% include 'partial/teammate.twig' with { mate: researcher } %}
	{% endfor %}
	{% for member in additionalTeamMembers %}
		<div style="margin: 10px 0;" class="mate additional grid grid--col-12 grid--gap-20">
				<div class="mate__content">
					<h3 class="mate__name">
							{{ member }}
					</h3>
				</div>
		</div>
	{% endfor %}
</section>
