<ul class="social">
	<li class="social__item social__item--facebook">
		<a class="social__link" href="https://www.facebook.com/MediaEngagement/">
			<span class="sr-text">Facebook - Center for Media Engagement Page</span>
			<svg class="social__icon social__icon--facebook"><use xlink:href="#facebook"></use></svg>
		</a>
	</li>
	<li class="social__item social__item--twitter">
		<a class="social__link" href="https://twitter.com/EngagingNews">
			<span class="sr-text">Twitter - Center for Media Engagement Page</span>
			<svg class="social__icon social__icon--twitter"><use xlink:href="#twitter"></use></svg>
		</a>
	</li>
	<li class="social__item social__item--tiktok">
		<a class="social__link" href="https://www.tiktok.com/@engagingnews">
			<span class="sr-text">TikTok- Center for Media Engagement Page</span>
			<svg class="social__icon social__icon--tiktok"><use xlink:href="#tiktok"></use></svg>
		</a>
	</li>
	<li class="social__item social__item--linkedin">
		<a class="social__link" href="https://www.linkedin.com/company/the-university-of-texas-at-austin-center-for-media-engagement/">
			<span class="sr-text">Linkedin - Center for Media Engagement Page</span>
			<svg class="social__icon social__icon--linkedin"><use xlink:href="#linkedin"></use></svg>
		</a>
	</li>
</ul>