{% set vertical = False %}
<section class="mates grid grid--col-12 grid--gap-20">
    {% for mate in mates %}
        {% if vertical == False %}
            {% set vertical = mate.getVertical %}
        {% endif %}
        {% set semester_value = (mate.getTermSemester)[0] %}
        {% if semester_value %}
        {% else %}
            {% include "partial/teammate.twig" with { 'mate' : mate } %}
        {% endif %}
    {% endfor %}
</section>
{% if vertical == "Media Ethics" %}
    <section class="past-interns-spacing">
        <div class="past-interns-title past-interns-title__spring-2019" data-toggle-arrow="&#9658;" aria-expanded="false"> 
            Research Scholars of Spring 2019 
        </div>
        <section class="mates grid grid--gap-20 past-interns-list past-interns-list__spring-2019" aria-hidden="true">
        {% for mate in mates %}
            {% set semester_value = (mate.getTermSemester)[0] %}
            {% if semester_value.name == "Spring 2019" %}
                {% include "partial/teammate.twig" with { 'mate' : mate } %}
            {% endif %}
        {% endfor %}
        </section>
    </section>
    <section>
        <div class="past-interns-title past-interns-title__fall-2018" data-toggle-arrow="&#9658;" aria-expanded="false"> 
            Research Scholars Fall 2018
        </div>
        <section class="mates grid grid--gap-20 past-interns-list past-interns-list__fall-2018" aria-hidden="true">
        {% for mate in mates %}
            {% set semester_value = (mate.getTermSemester)[0] %}
            {% if semester_value.name == "Fall 2018" %}
                {% include "partial/teammate.twig" with { 'mate' : mate } %}
            {% endif %}
        {% endfor %}
        </section>
    </section>
    <section>
         <div class="past-interns-title past-interns-title__spring-2018" data-toggle-arrow="&#9658;" aria-expanded="false"> 
            Research Scholars Spring 2018
        </div>
        <section class="mates grid grid--gap-20 past-interns-list past-interns-list__spring-2018" aria-hidden="true">
        {% for mate in mates %}
            {% set semester_value = (mate.getTermSemester)[0] %}
            {% if semester_value.name == "Spring 2018" %}
                {% include "partial/teammate.twig" with { 'mate' : mate } %}
            {% endif %}
        {% endfor %}
        </section>
    </section>
{% endif %}


