<section class="mates grid grid--col-12 grid--gap-20">
    {% for mate in mates %}
        {% if mate.getDesignation == 'Former CME' %}
        {% elseif mate.getTermCat == 'Former CME' %}
        {% else %}
            {% include "partial/teammate.twig" with { 'mate' : mate } %}
        {% endif %}
    {% endfor %}
</section>
