{% if tile.title != "General" %}
  {% if tile.title == "Science Communication Publications" %}
    <div class="tile tile--vertical--science-communication tile--intro--vertical--science-communication tile--intro">
  {% else %}
    <div class="tile {{ tile.vertical.slug ? "tile--vertical--#{ tile.vertical.slug } tile--intro--vertical--#{ tile.vertical.slug }" }} tile--intro">
  {% endif %}
	{% if tile.title == "Science Communication Publications" %}
    <h2 class="tile__title tile__title--science-communication">{{ tile.title }}</h2>
  {% else %}
    <h2 class="tile__title tile__title--intro">{{ tile.title }}</h2>
  {% endif %}
	<div class="tile__excerpt tile__excerpt--intro">{{ tile.excerpt }}</div>
</div>
{% endif %}
