@font-face {
	font-family: 'founders_grotesk_bold';
	src: url('../../fonts/foundersgroteskx-condensed-bold.woff2') format('woff2'),
			 url('../../fonts/foundersgroteskx-condensed-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'founders_grotesk_bold_italic';
	src: url('../../fonts/foundersgrotesk-bolditalic.woff2') format('woff2'),
			 url('../../fonts/foundersgrotesk-bolditalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}