.header {
	padding-top: $spacer-sm;
	position: relative;
	@include media($desktop) {
		padding-bottom: $spacer-lg;
	}
	@include media($phablet) {
		margin-bottom: $spacer-sm;
	}
	.searchform {
		padding-bottom: $spacer-sm;
		@include media($desktop) {
			padding-bottom: 0;
		}
	}
}

.header__container {
	position: relative;
	z-index: 99;
	// border-bottom: 1px solid $orange;
	@include media($tablet) {
		padding-top: 10px;
		padding-bottom: 15px;
		display: grid;
		grid-template-columns: 320px 1fr;
		grid-template-rows: max-content max-content;
	}
}

.header__logo {
	max-width: 200px;
	@include media($mobile) {
		padding-right: 0;
	}
	@include media($tablet) {
		max-width: 320px;
		position: relative;
		margin-bottom: 0;
	}
}
// @supports queries
// @supports queries
// @supports queries
@supports not (display: grid) {
	.header__container {
		&::after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
}

@supports not (display: flex) {
	.header__container {
		&::after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
	.header__logo {
		@include media("max", $tablet) {
			clear: both;
		}
		@include media($desktop) {
			clear: both;
			float: left;
		}
	}
}

@supports (display: flex) {
	.header__container {
		display: flex;
		flex-flow: row wrap;
	}
	.header__logo {
		@include media($tablet) {
			flex: 1 25%;
		}
	}
} // END (display: flex)

.menu__secondary .btn a {
	border: none;
	color: #bf5700;
	margin-left: 25px;
}

.menu__secondary .btn:hover a:before {
	left: 10px;
}
@media (max-width: 599px) {
	.home-section .tile:nth-of-type(1n + 5) {
		display: none;
	}
}