// HORIZONTAL LIST
.horiz-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.horiz-list__item {
    margin-left: 10px;

    &:first-of-type {
        margin: 0;
    }
}

.hint {
    font-size: 0.75rem;
    color: $gray-dark;
}

// TEXT
.font--xs {
    font-size: $font-size-small;
}

.font--lg {
    font-size: $font-size-large;
}

.m--no {
    margin: 0;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.indent {
    text-indent: 50px;
}

// Text meant only for screen readers
.sr-text,
.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.aligncenter {
    display: block;
    margin: $spacer auto;
    height: auto;
}
.alignleft,
.alignright {
    margin-bottom: $spacer;
    height: auto;
}
@include media($phablet) {
    // Only float if not on an extra small device
    .alignleft {
        float: left;
        margin-right: $spacer;
    }
    .alignright {
        float: right;
        margin-left: $spacer;
    }
}

.aspect-ratio-box {
    height: 0;
    padding-top: math.div(650px, 1127.34px) * 100%;
    position: relative;
    margin-bottom: 1em;
}

.aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// SVG
body:not(.enp-quiz):not(.page-template-page-annual-report) svg {
    width: 1.1em;
    height: 1.1em;
    
    // &.autosize {
    //  width: unset;
    //  height: unset;
    // }
}

.highcharts-container svg {
    width: auto;
    height: auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
