body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.row_newsletter {
  overflow: visible;
  margin: 20px;
}

.row_item {
  flex: 1;
}
