/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 10px;
  position: relative;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  /* Show the sidebar*/
  #sidebar {
    display: block !important;
  }
  
  .widget_top-posts {
    display: none;
  }
}

#components {
  min-height: 500px;
}

#target fieldset {
  border: 1px solid #ccc;
  min-height: 200px;
  padding: 5px;
  padding-bottom: 30px;
}

.component {
  cursor: pointer;
}

input {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.popover .control-group {
  cursor: default;
}
.popover input {
  cursor: text;
}

.temp{
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 999999;
  top: 0;
  overflow-x: hidden;
  left: 0;
}

.temp form {
  padding: 8px 4px;
  border: 1px dotted #ccc;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 30px #999;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  overflow: hidden;
}

#render{
  min-height: 500px;
  font-family: monospace;
}

/* Popovers now are appended to their parent rather
than to the body/main document as they once were.
We need to over-ride some inherited stuff.. */
form .popover .controls {
  margin-left: 0;
}

form .popover .control-label {
  text-align: left;
}

form .popover form {
  width: 224px;
}

.popover-content form .btn{
  margin-right: 10px
}

.target:after{
  float:left;
  content: " ";
  height: 77px; 
  margin-top: 3px;
  background: #f0f0f0;
  width: 100%;
  border: 1px dashed #ccc;
}

#target, #input, #radioscheckboxes, #select, #buttons {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#target fieldset{
 width: 100%;
 overflow: hidden;
}

/* View Quiz Style */
.bootstrap.top-edit-button {
  float: right;
  margin-top: -40px;
}

/* Quiz form */

.additional-answer-wrapper li .form-control {
  margin-left: 31px;
}


ul.mc-answers {
  list-style-type:none;
  padding: 0px;
}

ul.mc-answers .glyphicon.glyphicon-move {
/*  height: 40px;
  padding: 16px 0 0 10px;*/
  cursor: move;
}

ul.mc-answers .glyphicon.glyphicon-check {
  cursor: pointer;
}

ul.mc-answers .glyphicon.glyphicon-remove {
  cursor: pointer;
}

.slider-answers .glyphicon-chevron-up,
.slider-answers .glyphicon-chevron-down {
  cursor: pointer;
}

.bootstrap #quiz-form label {
  line-height: 18px;
  padding-right: 5px;
}

.bootstrap #quiz-form label[for="slider-range-to"] {
  padding-top: 9px;
}

/*ul.mc-answers span {
  float: left;
}*/

.bootstrap ul.mc-answers input.form-control {
  width: 85%;
  margin-bottom: 10px;
  display: inline-block;
}

/*.bootstrap .quiz-type .form-control[disabled] {
  background: #fff;
  cursor: pointer;
}
*/

.bootstrap .quiz-type-label,
.bootstrap .mc-radio-answer-label {
  font-weight: normal;
  cursor: pointer;
}

/* BOOTSTRAP STYLES */
.bootstrap textarea.form-control {
  height: auto;
}

#quiz-form.bootstrap {
  font-family: 'Droid Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
}

/* Slider style */
.slider.slider-horizontal {
  width: 210px !important;
}

.slider-wrapper .slider-display-label {
  margin-right: 11px;
}

.slider-wrapper .slider-high-label {
  margin-left: 20px;
}

.bootstrap .slider .tooltip.top {
  margin: -8px 0 0 4px;
}

.bootstrap .slider.slider-horizontal .slider-track {
  height: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	background: 			#5393c5 /*{global-active-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 /*{global-active-background-start}*/), to( #6facd5 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/);
}

.bootstrap .slider.slider-horizontal .slider-selection {
  height: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.slider-track .slider-handle {
  opacity: 1;
  width: 28px;
  height: 28px;
	border: 1px solid 		#ccc /*{c-bup-border}*/;
	background: 			#eee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

/* Validation Styles */

.bootstrap .error input.form-control {
  border: 1px solid #c24949;
  background: #ffbcbc;
}

.bootstrap label.error {
  color: red;
}

input.form-control.correct-option {
  border: 1px solid green;
  background: lightgreen;
}

.bootstrap label.valid {
  color: green;
}

/* Notifications */
.quiz-notification {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.quiz-notification.success {
  background: green;
  color: white;
}

.page-template-self-service-quizpage-quiz-view-php .quiz-notification {

}









