// border box reset
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

iframe {
    border: none;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}
// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: $spacer auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: $spacer;
  height: auto;
}
@include media($phablet) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: $spacer;
  }
  .alignright {
    float: right;
    margin-left: $spacer;
  }
}

.text-center {
    text-align: center;
}

// Captions
.wp-caption {
  @include box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.sr-only,
.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

    &:active,
    &:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }
}
