// HORIZONTAL LIST
.horiz-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.horiz-list__item {
  margin-left: 10px;

  &:first-of-type {
    margin: 0;
  }
}


// GRID
.grid {
  display: grid;
}

.grid--col-12 {
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.grid--gap-20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid--gap-30 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

// TEXT
.font--xs {
  font-size: $font-size-small;
}

.font--lg {
  font-size: $font-size-large;
}

.m--no {
  margin: 0;
}

.text-center {
    text-align: center;
}

// Text meant only for screen readers
.sr-text,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}