//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors

$black:              	 #111;
$gray-darker:            #333; 
$gray-dark:              #5E6873;
$gray:                   #888;
$gray-light:             #ddd;
$gray-lighter:           #f8f8f8;

$beige:           #d6d2c4;
$blue-dark:       #333f48;
$navy:            #005f86;
$blue-light:      #9cadb7;
$gold:            #CCA562;
$green:           #579d42;
$green-light:     #a6cd57;
$orange:          #bf5700;
$orange-light:    #f8971f;
$teal:            #00a9b7;
$teal-faded: 	  #e9f3f0;
$yellow:          #ffd600;
$success:         $green;
$info:            #5bc0de;
$warning:         #f0ad4e;
$danger:          #d9534f;
$primary:         $orange;
$white: 		  #fff;

$green-gradient:  linear-gradient(10deg,#c7ecd5,#e3ffcb); //linear-gradient(10deg,#c8dc99,#f0ffdd); //linear-gradient(15deg,#d1f5f0,#dcffde) !default;

$journalism-color: $teal;
$science-communication-color: $navy;
$media-ethics-color: $green;
$social-platforms-color: $orange;

$journalism-color-light: $teal-faded;
$science-communication-color-light: $blue-light;
$media-ethics-color-light: $green-light;
$social-platforms-color-light: $orange-light;

$journalism-color-faded: lighten($journalism-color-light, 1%);
$science-communication-color-faded: lighten($science-communication-color, 70%);
$media-ethics-color-faded: lighten($media-ethics-color, 50%);
$social-platforms-color-faded: lighten($social-platforms-color, 57%);


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color:            $black !default;

//** Global textual link color.
$link-color:            $primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Libre Franklin", Arial, Helvetica, sans-serif !default;
$font-family-headlines:   $font-family-sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:          16px !default;

$font-size-h1:            floor(($font-size-base * 2.15)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.75)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.2)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         12px; // ~12px

//== Media queries breakpoints
$mobile: 400px;
$phablet: 600px;
$tablet: 800px;
$laptop: 1000px;
$desktop: 1200px;


$spacer: 1.6rem;
$spacer-xs: $spacer / 4;
$spacer-sm: $spacer / 2;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 2;




//== Backgrounds

